# Kickstarter_survivors
### Sifan Liu

## Set up and load data

In [1]:
# Load packages and set up
import numpy as np
import pandas as pd
import json
import glob

def CustomParser(data):
    import json
    try:
        j1 = json.loads(data)
        return j1
    except ValueError:
        pass

JSONconverters = {'location':CustomParser, 'category':CustomParser, 'creator':CustomParser}

In [2]:
# read data

# from csv =============================================
# all files --------------------------------------------
# path = r'../datasample/Kickstarter_2018-02-15T03_20_44_743Z'
# all_files = glob.glob(path + "/*.csv")

# df_from_each_file = (pd.read_csv(f,converters = JSONconverters) for f in all_files)
# df = pd.concat(df_from_each_file, ignore_index = True)

In [3]:
# sample_data ------------------------------------------
df = pd.read_csv('source/kickstarter_sample.csv', converters = JSONconverters)

In [4]:
# extract json information to columns
def JsonConcate(dataframe, column):
    temp = dataframe[column].apply(pd.Series)
    temp = temp.rename(columns = lambda x : column + '_' + str(x))
    dataframe = pd.concat([dataframe[:],temp[:]],axis =1)
    return dataframe

for col in ('location','category','creator'):
    df = JsonConcate(df,col)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4090 entries, 0 to 4089
Data columns (total 62 columns):
backers_count                4090 non-null int64
blurb                        4088 non-null object
category                     4090 non-null object
converted_pledged_amount     4090 non-null int64
country                      4090 non-null object
created_at                   4090 non-null int64
creator                      4090 non-null object
currency                     4090 non-null object
currency_symbol              4090 non-null object
currency_trailing_code       4090 non-null bool
current_currency             4090 non-null object
deadline                     4090 non-null int64
disable_communication        4090 non-null bool
fx_rate                      4090 non-null float64
goal                         4090 non-null float64
id                           4090 non-null int64
is_starrable                 4090 non-null bool
launched_at                  4090 non-null int64
name                         4090 non-null object
photo                        4090 non-null object
pledged                      4090 non-null float64
profile                      4090 non-null object
slug                         4090 non-null object
source_url                   4090 non-null object
spotlight                    4090 non-null bool
staff_pick                   4090 non-null bool
state                        4090 non-null object
state_changed_at             4090 non-null int64
static_usd_rate              4090 non-null float64
urls                         4090 non-null object
usd_pledged                  4090 non-null float64
usd_type                     4090 non-null object
location                     4025 non-null object
friends                      0 non-null float64
is_backing                   0 non-null float64
is_starred                   0 non-null float64
permissions                  0 non-null float64
location_country             4025 non-null object
location_displayable_name    4025 non-null object
location_id                  4025 non-null float64
location_is_root             4025 non-null object
location_localized_name      4025 non-null object
location_name                4025 non-null object
location_short_name          4025 non-null object
location_slug                4020 non-null object
location_state               4023 non-null object
location_type                4025 non-null object
location_urls                4025 non-null object
category_color               4090 non-null int64
category_id                  4090 non-null int64
category_name                4090 non-null object
category_parent_id           3365 non-null float64
category_position            4090 non-null int64
category_slug                4090 non-null object
category_urls                4090 non-null object
creator_avatar               4090 non-null object
creator_chosen_currency      6 non-null object
creator_id                   4090 non-null int64
creator_is_registered        4090 non-null bool
creator_name                 4090 non-null object
creator_slug                 1374 non-null object
creator_urls                 4090 non-null object
dtypes: bool(6), float64(11), int64(11), object(34)
memory usage: 1.8+ MB

In [48]:
# df.to_pickle("master")
df = pd.read_pickle("master")

In [5]:
place2msa = pd.read_csv("source/place2msa.csv", encoding = 'latin-1')
place2msa.head()

,Unnamed: 0,STATE,STATEFP,PLACEFP,PLACENAME,TYPE,FUNCSTAT,cty_name,cty_alt,FIPS_City,cbsa,cbsa_name,metro_micro,csa_name,st_name,countyFIPS,central_outlying,fips,top100,Frey52
0,1,AL,1,100,Abanda CDP,Census Designated Place,S,Chambers County,NaN,100100,46740.0,"Valley, AL",Micropolitan Statistical Area,"Columbus-Auburn-Opelika, GA-AL",Alabama,17.0,Central,1017.0,0.0,0.0
1,2,AL,1,124,Abbeville city,Incorporated Place,A,Henry County,NaN,100124,20020.0,"Dothan, AL",Metropolitan Statistical Area,"Dothan-Enterprise-Ozark, AL",Alabama,67.0,Outlying,1067.0,0.0,0.0
2,3,AL,1,460,Adamsville city,Incorporated Place,A,Jefferson County,NaN,100460,13820.0,"Birmingham-Hoover, AL",Metropolitan Statistical Area,"Birmingham-Hoover-Talladega, AL",Alabama,73.0,Central,1073.0,1.0,1.0
3,4,AL,1,484,Addison town,Incorporated Place,A,Winston County,NaN,100484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,AL,1,676,Akron town,Incorporated Place,A,Hale County,NaN,100676,46220.0,"Tuscaloosa, AL",Metropolitan Statistical Area,NaN,Alabama,65.0,Outlying,1065.0,0.0,0.0

## Clean Kickstarter dataset

In [49]:
# convert unix time
time_cols = ['created_at', 'deadline', 'state_changed_at','launched_at']
df[time_cols] = df[time_cols].apply(pd.to_datetime,unit='s')

In [50]:
# calculate duration
df['life'] = df['deadline'] - df['launched_at']
df['duration'] = df['state_changed_at'] - df['launched_at']
df['prep'] =  df['launched_at'] - df['created_at']

# df['state_changed_at'][0].year

In [51]:
# factorize project state
df['state'] = df['state'].astype('category')
pd.pivot_table(df, index = ['state'])

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [27]:
# generate gender by first name
# STEP 1: strip first name
df['first_name'] = df['creator_name'].str.extract(r'([^\s]+)',expand = False).str.title()

# STEP 2: gender
# https://pypi.org/project/gender-guesser/
import gender_guesser.detector as gender
d = gender.Detector()

# STEP 3: apply
df['gender'] = df['first_name'].apply(d.get_gender)

pd.pivot_table(df, index = ['gender'],aggfunc = len)

In [42]:

# match place to MSA
# remove 'city'|'town'|'CDP'

place2msa['place'] = place2msa['PLACENAME'].str.replace(r'(\s\w+)$','')
place2msa['place']

df = pd.merge(df,place2msa,how = 'left',left_on=['location_state','location_localized_name'],right_on=['STATE','place'])

## Summary: selected columns

In [45]:
# keep selected columns
col = ['location_country','location_state','location_localized_name','cbsa_name','top100',
       'backers_count','goal','pledged','creator_name','gender','category_slug','category_name',
       'launched_at','deadline','state_changed_at','state','life','duration','prep']

df_sample = df[col]
df_sample
# table = pd.pivot_table(df_sample, index=["location_state","location_country"], aggfunc = [np.mean,len])
# table.query('location_country == ["US"]')

,location_country,location_state,location_localized_name,cbsa_name,top100,backers_count,goal,pledged,creator_name,gender,category_slug,category_name,launched_at,deadline,state_changed_at,state,life,duration,prep
0,US,CO,Paonia,NaN,NaN,80,2800.0,3596.00,Hilary Emerson Lay,female,art/mixed media,Mixed Media,2012-03-28 21:14:20,2012-04-19 20:16:00,2012-04-19 20:16:00,successful,21 days 23:01:40,21 days 23:01:40,80 days 21:19:15
1,US,CA,Bakersfield,"Bakersfield, CA",1.0,47,3900.0,4117.00,Csub Arts Humanities Matter,unknown,art,Art,2012-03-28 22:06:38,2012-04-20 22:06:38,2012-04-20 22:06:38,successful,23 days 00:00:00,23 days 00:00:00,25 days 23:37:16
2,US,MA,Lowell,"Boston-Cambridge-Newton, MA-NH",1.0,80,750.0,3125.00,J.J. Long,unknown,art/painting,Painting,2012-03-28 23:01:19,2012-04-17 03:59:00,2012-04-17 03:59:03,successful,19 days 04:57:41,19 days 04:57:44,4 days 08:45:12
3,US,MA,Lowell,"Boston-Cambridge-Newton, MA-NH",1.0,80,750.0,3125.00,J.J. Long,unknown,art/painting,Painting,2012-03-28 23:01:19,2012-04-17 03:59:00,2012-04-17 03:59:03,successful,19 days 04:57:41,19 days 04:57:44,4 days 08:45:12
4,US,DC,Washington,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1.0,82,4500.0,4586.00,Andrew Purchin,male,art/public art,Public Art,2012-03-29 01:22:25,2012-05-08 01:22:25,2012-05-08 01:22:25,successful,40 days 00:00:00,40 days 00:00:00,23 days 19:41:01
5,US,OR,Portland,"Portland-Vancouver-Hillsboro, OR-WA",1.0,31,1000.0,1036.00,Ryan Jacob Smith,mostly_male,art/painting,Painting,2012-03-29 02:57:23,2012-04-03 02:57:23,2012-04-03 02:57:23,successful,5 days 00:00:00,5 days 00:00:00,5 days 22:33:56
6,US,TX,Frisco,"Dallas-Fort Worth-Arlington, TX",1.0,21,5000.0,5217.00,Roger Belveal,male,art/sculpture,Sculpture,2012-03-29 03:28:59,2012-05-28 03:28:59,2012-05-28 03:28:59,successful,60 days 00:00:00,60 days 00:00:00,7 days 01:07:25
7,GB,Scotland,Glasgow,NaN,NaN,37,6500.0,7160.00,Redmond Entwistle,male,art,Art,2012-03-29 03:28:16,2012-04-19 03:28:16,2012-04-19 03:28:17,successful,21 days 00:00:00,21 days 00:00:01,7 days 12:20:45
8,US,TX,Kingsbury,"San Antonio-New Braunfels, TX",1.0,153,15000.0,15445.00,Shane Heinemeier,male,art/public art,Public Art,2012-03-29 03:37:20,2012-04-28 03:37:20,2012-04-28 03:37:22,successful,30 days 00:00:00,30 days 00:00:02,51 days 06:27:03
9,US,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",1.0,18,600.0,2190.00,Brian Dupont,male,art/painting,Painting,2012-03-29 10:44:16,2012-05-04 00:12:00,2012-05-04 00:12:01,successful,35 days 13:27:44,35 days 13:27:45,20 days 13:55:53
10,US,IL,Chicago,"Chicago-Naperville-Elgin, IL-IN-WI",1.0,156,2000.0,5429.95,Kyle Bice,mostly_female,art,Art,2012-03-29 18:24:24,2012-04-10 03:59:00,2012-04-10 03:59:00,successful,11 days 09:34:36,11 days 09:34:36,2 days 19:28:54
11,US,NV,Imlay,NaN,NaN,148,15000.0,16115.00,karen kuehn,female,art/public art,Public Art,2012-03-29 18:56:38,2012-05-28 18:56:38,2012-05-28 18:56:38,successful,60 days 00:00:00,60 days 00:00:00,63 days 18:14:49
12,US,VA,Fredericksburg,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1.0,164,4200.0,12643.00,Jim Groom,male,art/digital art,Digital Art,2012-03-29 19:33:06,2012-04-16 20:00:00,2012-04-16 20:00:28,successful,18 days 00:26:54,18 days 00:27:22,3 days 23:34:18
13,US,CT,New Britain,"Hartford-West Hartford-East Hartford, CT",1.0,479,10000.0,62736.01,Michael Shapcott,male,art/painting,Painting,2012-03-27 04:33:27,2012-04-29 03:59:00,2012-04-29 03:59:00,successful,32 days 23:25:33,32 days 23:25:33,17 days 07:56:09
14,US,CT,New Britain,"Hartford-West Hartford-East Hartford, CT",1.0,479,10000.0,62736.01,Michael Shapcott,male,art/painting,Painting,2012-03-27 04:33:27,2012-04-29 03:59:00,2012-04-29 03:59:00,successful,32 days 23:25:33,32 days 23:25:33,17 days 07:56:09
15,US,VT,Johnson,NaN,NaN,41,2800.0,2930.00,Robert Sparrow Jones,male,art/painting,Painting,2012-03-27 11:43:30,2012-05-11 11:43:30,2012-05-11 11:43:30,successful,45 days 00:00:00,45 days 00:00:00,10 days 22:21:21
16,US,VT,Johnson,NaN,NaN,41,2800.0,2930.00,Robert Sparrow Jones,male,art/painting,Painting,2012-03-27 11:43:30,2012-05-11 11:43:30,2012-05-11 11:43:30,successful,45 days 00:00:00,45 days 00:00:00,10 days 22:21:21
17,US,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",1.0,25,5000.0,5001.00,Laurie Roberts and Mickey Rowe,female,art/public art,Public Art,2012-03-27 12:24:48,2012-04-26 12:24:48,2012-04-26 12:24:48,successful,30 days 00:00:00,30 days 00:00:00,21 days 15:58:29
18,US,OH,Oberlin,"Cleveland-Elyria, OH",1.0,27,1450.0,2006.00,RTC,unknown,art/mixed media,Mixed Media,2012-03-27 16:40:42,2012-04-16 16:20:00,2012-04-16 16:20:01,successful,19 days 23:39:18,19 days 23:39:19,13 days 11:01:18
19,US,MN,Minneapolis,"Minneapolis-St. Paul-Bloomington, MN-WI",1.0,107,4500.0,5061.00,Image and Text,unknown,art/mixed media,Mixed Media,2012-03-27 23:26:55,2012-04-17 23:26:55,2012-04-17 23:26:55,successful,21 days 00:00:00,21 days 00:00:00,27 days 20:35:09
20,US,MN,Minneapolis,"Minneapolis-St. Paul-Bloomington, MN-WI",1.0,107,4500.0,5061.00,Image and Text,unknown,art/mixed media,Mixed Media,2012-03-27 23:26:55,2012-04-17 23:26:55,2012-04-17 23:26:55,successful,21 days 00:00:00,21 days 00:00:00,27 days 20:35:09
21,US,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",1.0,13,500.0,503.00,Paula Victoria,female,art/public art,Public Art,2012-03-28 04:17:20,2012-04-22 04:17:20,2012-04-22 04:17:20,successful,25 days 00:00:00,25 days 00:00:00,3 days 10:29:47
22,US,NC,Raleigh,"Durham-Chapel Hill, NC",0.0,549,5800.0,11364.69,CityFabric,unknown,art/public art,Public Art,2012-03-28 16:48:57,2012-04-29 16:48:57,2012-04-29 16:48:58,successful,32 days 00:00:00,32 days 00:00:01,85 days 19:45:43
23,US,NV,Las Vegas,"Las Vegas-Henderson-Paradise, NV",1.0,5,135.5,206.00,Elysium Artwork,unknown,art/mixed media,Mixed Media,2012-03-28 18:41:37,2012-04-27 18:41:37,2012-04-27 18:41:39,successful,30 days 00:00:00,30 days 00:00:02,5 days 02:45:38
24,US,MA,Boston,"Boston-Cambridge-Newton, MA-NH",1.0,82,2500.0,3156.70,Brian Gowdey (deleted),male,art/public art,Public Art,2012-03-28 19:01:31,2012-05-07 19:01:31,2012-05-07 19:01:34,successful,40 days 00:00:00,40 days 00:00:03,5 days 02:26:23
25,US,MA,Boston,"Boston-Cambridge-Newton, MA-NH",1.0,82,2500.0,3156.70,Brian Gowdey (deleted),male,art/public art,Public Art,2012-03-28 19:01:31,2012-05-07 19:01:31,2012-05-07 19:01:34,successful,40 days 00:00:00,40 days 00:00:03,5 days 02:26:23
26,US,MN,Minneapolis,"Minneapolis-St. Paul-Bloomington, MN-WI",1.0,22,2500.0,2590.00,Melissa Wagner-Lawler,female,art/mixed media,Mixed Media,2012-03-28 19:06:33,2012-04-30 04:00:00,2012-04-30 04:00:23,successful,32 days 08:53:27,32 days 08:53:50,33 days 18:50:03
27,US,MN,Minneapolis,"Minneapolis-St. Paul-Bloomington, MN-WI",1.0,22,2500.0,2590.00,Melissa Wagner-Lawler,female,art/mixed media,Mixed Media,2012-03-28 19:06:33,2012-04-30 04:00:00,2012-04-30 04:00:23,successful,32 days 08:53:27,32 days 08:53:50,33 days 18:50:03
28,US,VT,Sharon,"Claremont-Lebanon, NH-VT",0.0,105,9000.0,9284.08,Scott Fisk,male,art/illustration,Illustration,2012-03-28 20:40:47,2012-04-27 20:40:47,2012-04-27 20:40:47,successful,30 days 00:00:00,30 days 00:00:00,127 days 04:54:35
29,US,IL,Chicago,"Chicago-Naperville-Elgin, IL-IN-WI",1.0,130,5600.0,6801.00,Colleen O'Toole,female,art/public art,Public Art,2012-03-28 21:13:48,2012-04-27 21:13:48,2012-04-27 21:13:48,successful,30 days 00:00:00,30 days 00:00:00,8 days 01:21:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4708,US,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",1.0,401,5000.0,15707.00,Edwin Huang,male,art/illustration,Illustration,2013-08-18 01:00:20,2013-09-17 01:00:20,2013-09-17 01:00:38,successful,30 days 00:00:00,30 days 00:00:18,37 days 18:48:42
4709,US,GA,St. Simons Island,NaN,NaN,47,3000.0,4507.00,bob pendarvis,male,art/illustration,Illustration,2013-05-31 23:22:00,2013-07-01 16:00:00,2013-07-01 16:00:41,successful,30 days 16:38:00,30 days 16:38:41,25 days 23:15:51
4710,US,FL,Tallahassee,"Tallahassee, FL",0.0,293,5500.0,14651.00,Angela Mele,female,art/illustration,Illustration,2013-06-19 03:02:35,2013-07-19 16:00:00,2013-07-19 16:00:34,successful,30 days 12:57:25,30 days 12:57:59,135 days 02:55:41
4711,GB,England,Northampton,NaN,NaN,13,110.0,225.00,Animated Incorporated,unknown,art/illustration,Illustration,2013-06-19 16:13:37,2013-07-19 16:13:37,2013-07-19 16:13:37,successful,30 days 00:00:00,30 days 00:00:00,1 days 21:16:44
4712,US,VA,Richmond,"Richmond, VA",1.0,96,4500.0,5024.00,Eleanor Doughty,female,art/illustration,Illustration,2013-06-21 20:39:40,2013-07-21 20:39:40,2013-07-21 20:39:40,successful,30 days 00:00:00,30 days 00:00:00,157 days 00:03:24
4713,US,AR,Fayetteville,"Fayetteville-Springdale-Rogers, AR-MO",0.0,32,550.0,1013.00,Linda Sheets,female,art/illustration,Illustration,2013-06-23 17:00:20,2013-07-23 17:00:20,2013-07-23 17:00:37,successful,30 days 00:00:00,30 days 00:00:17,16 days 00:11:22
4714,GB,England,Peckham,NaN,NaN,97,3000.0,3025.50,Studio Operative,unknown,art/illustration,Illustration,2013-06-24 18:46:02,2013-07-24 18:46:02,2013-07-24 18:46:02,successful,30 days 00:00:00,30 days 00:00:00,7 days 03:14:21
4715,US,OR,Portland,"Portland-Vancouver-Hillsboro, OR-WA",1.0,97,7666.0,8012.00,Vance Feldman,male,art/illustration,Illustration,2013-06-25 01:34:54,2013-08-13 01:34:54,2013-08-13 01:34:54,successful,49 days 00:00:00,49 days 00:00:00,43 days 05:18:56
4716,US,IL,Chicago,"Chicago-Naperville-Elgin, IL-IN-WI",1.0,184,8500.0,17845.69,Baker Prints,unknown,art/illustration,Illustration,2013-06-27 22:58:08,2013-07-25 22:00:00,2013-07-25 22:00:36,successful,27 days 23:01:52,27 days 23:02:28,8 days 18:43:29
4717,US,NJ,Closter,"New York-Newark-Jersey City, NY-NJ-PA",1.0,9,100.0,365.00,Jiyoon Kim,unknown,art/illustration,Illustration,2013-07-03 16:43:31,2013-08-06 23:59:00,2013-08-06 23:59:00,successful,34 days 07:15:29,34 days 07:15:29,4 days 00:13:34
4718,US,NJ,Closter,"New York-Newark-Jersey City, NY-NJ-PA",1.0,9,100.0,365.00,Jiyoon Kim,unknown,art/illustration,Illustration,2013-07-03 16:43:31,2013-08-06 23:59:00,2013-08-06 23:59:00,successful,34 days 07:15:29,34 days 07:15:29,4 days 00:13:34
4719,US,NC,Winston-Salem,"Winston-Salem, NC",1.0,7,200.0,223.00,Steve Klein,male,art/illustration,Illustration,2013-07-08 17:21:08,2013-08-07 17:21:08,2013-08-07 17:21:08,successful,30 days 00:00:00,30 days 00:00:00,17 days 17:19:07
4720,US,UT,Salt Lake City,"Salt Lake City, UT",1.0,9,45.0,121.00,Joe Drury,male,art/illustration,Illustration,2013-07-09 20:05:42,2013-07-30 20:05:42,2013-07-30 20:05:43,successful,21 days 00:00:00,21 days 00:00:01,26 days 18:05:49
4721,US,IN,Bloomington,"Bloomington, IN",0.0,185,4000.0,6781.50,Dr. Debby Herbenick,unknown,art/illustration,Illustration,2013-07-11 02:52:28,2013-08-10 02:52:28,2013-08-10 02:52:29,successful,30 days 00:00:00,30 days 00:00:01,24 days 09:43:02
4722,US,CA,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA",1.0,55,3000.0,3565.00,The Other Linda Roesch,mostly_female,art/illustration,Illustration,2013-05-15 14:59:34,2013-06-14 14:59:34,2013-06-14 14:59:34,successful,30 days 00:00:00,30 days 00:00:00,61 days 12:12:28
4723,US,MI,Canton,NaN,NaN,59,500.0,2148.00,Aaron M. Trendy,male,art/illustration,Illustration,2013-05-15 22:53:16,2013-06-15 23:00:00,2013-06-15 23:00:34,successful,31 days 00:06:44,31 days 00:07:18,29 days 15:53:41
4724,US,CA,Lathrop,"Stockton-Lodi, CA",1.0,49,50.0,97.00,Nick Brock,male,art/illustration,Illustration,2013-05-16 05:43:48,2013-06-15 05:43:48,2013-06-15 05:43:51,successful,30 days 00:00:00,30 days 00:00:03,6 days 04:47:08
4725,US,VT,Bethel,"Claremont-Lebanon, NH-VT",0.0,34,1200.0,1773.95,Eliza Burns,female,art/illustration,Illustration,2013-05-16 11:50:36,2013-06-30 11:50:36,2013-06-30 11:50:36,successful,45 days 00:00:00,45 days 00:00:00,28 days 14:19:37
4726,US,VT,Bethel,"Claremont-Lebanon, NH-VT",0.0,34,1200.0,1773.95,Eliza Burns,female,art/illustration,Illustration,2013-05-16 11:50:36,2013-06-30 11:50:36,2013-06-30 11:50:36,successful,45 days 00:00:00,45 days 00:00:00,28 days 14:19:37
4727,US,CA,American Canyon,"Napa, CA",0.0,159,3500.0,8901.00,Cody Vrosh,mostly_male,art/illustration,Illustration,2013-05-16 22:00:43,2013-06-16 22:00:43,2013-06-16 22:00:43,successful,31 days 00:00:00,31 days 00:00:00,7 days 04:07:01
4728,US,MN,St. Paul,"Minneapolis-St. Paul-Bloomington, MN-WI",1.0,252,11750.0,12679.00,Paul Sansale,male,art/illustration,Illustration,2013-05-18 19:43:47,2013-06-17 19:43:47,2013-06-17 19:43:47,successful,30 days 00:00:00,30 days 00:00:00,11 days 02:15:54
4729,US,MN,St. Paul,"Minneapolis-St. Paul-Bloomington, MN-WI",1.0,252,11750.0,12679.00,Paul Sansale,male,art/illustration,Illustration,2013-05-18 19:43:47,2013-06-17 19:43:47,2013-06-17 19:43:47,successful,30 days 00:00:00,30 days 00:00:00,11 days 02:15:54
4730,US,NC,Winston-Salem,"Winston-Salem, NC",1.0,34,500.0,1647.50,Peter Deligdisch,male,art/illustration,Illustration,2013-05-21 01:56:15,2013-06-20 01:56:15,2013-06-20 01:56:15,successful,30 days 00:00:00,30 days 00:00:00,14 days 11:02:20
4731,US,FL,Miami,"Miami-Fort Lauderdale-West Palm Beach, FL",1.0,83,1100.0,2785.00,Veronica Valencia,female,art/illustration,Illustration,2013-05-22 21:00:28,2013-06-06 16:00:00,2013-06-06 16:01:01,successful,14 days 18:59:32,14 days 19:00:33,2 days 01:18:17
4732,US,OR,Portland,"Portland-Vancouver-Hillsboro, OR-WA",1.0,34,2000.0,2070.00,Liliya Dru,female,art/illustration,Illustration,2013-05-24 05:49:14,2013-06-13 07:00:00,2013-06-13 07:00:36,successful,20 days 01:10:46,20 days 01:11:22,58 days 00:55:39
4733,US,FL,Jacksonville,"Jacksonville, FL",1.0,36,1300.0,2333.00,Jason Sobol,male,art/illustration,Illustration,2013-05-28 22:08:43,2013-06-27 22:08:43,2013-06-27 22:08:43,successful,30 days 00:00:00,30 days 00:00:00,6 days 11:01:39
4734,US,UT,Salt Lake City,"Salt Lake City, UT",1.0,35,25.0,864.00,Joe Drury,male,art/illustration,Illustration,2013-05-30 18:31:42,2013-06-20 18:31:42,2013-06-20 18:31:43,successful,21 days 00:00:00,21 days 00:00:01,1 days 22:02:58
4735,PL,Masovian,Warsaw,NaN,NaN,30,2000.0,2011.64,Kori Zick,female,art/illustration,Illustration,2013-05-31 04:34:01,2013-06-30 04:34:01,2013-06-30 04:34:01,successful,30 days 00:00:00,30 days 00:00:00,23 days 11:45:03
4736,US,CA,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA",1.0,68,9000.0,9001.00,Ian Crowe,male,art/illustration,Illustration,2013-03-28 20:12:19,2013-04-27 20:12:19,2013-04-27 20:12:19,successful,30 days 00:00:00,30 days 00:00:00,5 days 15:43:50
4737,US,IL,Chicago,"Chicago-Naperville-Elgin, IL-IN-WI",1.0,87,1375.0,5204.00,Carla Wyzgala,female,art/illustration,Illustration,2013-03-29 23:32:07,2013-04-29 04:59:00,2013-04-29 04:59:03,successful,30 days 05:26:53,30 days 05:26:56,36 days 06:18:47

In [46]:
# df_sample.to_pickle("sample")