# Kickstarter_survivors
### Sifan Liu

In [41]:
# Load packages and read sample data
import numpy as np
import pandas as pd

in_file = 'source/kickstarter_sample.csv'

In [42]:
sample_data = pd.read_csv(in_file)
sample_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4090 entries, 0 to 4089
Data columns (total 37 columns):
backers_count               4090 non-null int64
blurb                       4088 non-null object
category                    4090 non-null object
converted_pledged_amount    4090 non-null int64
country                     4090 non-null object
created_at                  4090 non-null int64
creator                     4090 non-null object
currency                    4090 non-null object
currency_symbol             4090 non-null object
currency_trailing_code      4090 non-null bool
current_currency            4090 non-null object
deadline                    4090 non-null int64
disable_communication       4090 non-null bool
fx_rate                     4090 non-null float64
goal                        4090 non-null float64
id                          4090 non-null int64
is_starrable                4090 non-null bool
launched_at                 4090 non-null int64
name                        4090 non-null object
photo                       4090 non-null object
pledged                     4090 non-null float64
profile                     4090 non-null object
slug                        4090 non-null object
source_url                  4090 non-null object
spotlight                   4090 non-null bool
staff_pick                  4090 non-null bool
state                       4090 non-null object
state_changed_at            4090 non-null int64
static_usd_rate             4090 non-null float64
urls                        4090 non-null object
usd_pledged                 4090 non-null float64
usd_type                    4090 non-null object
location                    4025 non-null object
friends                     0 non-null float64
is_backing                  0 non-null float64
is_starred                  0 non-null float64
permissions                 0 non-null float64
dtypes: bool(5), float64(9), int64(7), object(16)
memory usage: 1.0+ MB

In [43]:
# convert unix time
time_cols = ['created_at', 'deadline', 'state_changed_at','launched_at']
sample_data[time_cols] = sample_data[time_cols].apply(pd.to_datetime,unit='s')
display(sample_data.head())

,backers_count,blurb,category,converted_pledged_amount,country,created_at,creator,currency,currency_symbol,currency_trailing_code,...,state_changed_at,static_usd_rate,urls,usd_pledged,usd_type,location,friends,is_backing,is_starred,permissions
0,80,I will be an artist-in-residence at Elsewhere ...,"{""urls"":{""web"":{""discover"":""http://www.kicksta...",3596,US,2012-01-07 23:55:05,"{""urls"":{""web"":{""user"":""https://www.kickstarte...",USD,$,True,...,2012-04-19 20:16:00,1.0,"{""web"":{""project"":""https://www.kickstarter.com...",3596.0,domestic,"{""country"":""US"",""urls"":{""web"":{""discover"":""htt...",NaN,NaN,NaN,NaN
1,47,We are looking to bring a Visiting Sculptor fr...,"{""urls"":{""web"":{""discover"":""http://www.kicksta...",4117,US,2012-03-02 22:29:22,"{""urls"":{""web"":{""user"":""https://www.kickstarte...",USD,$,True,...,2012-04-20 22:06:38,1.0,"{""web"":{""project"":""https://www.kickstarter.com...",4117.0,domestic,"{""country"":""US"",""urls"":{""web"":{""discover"":""htt...",NaN,NaN,NaN,NaN
2,80,Surrealistic oil paintings capturing the metam...,"{""urls"":{""web"":{""discover"":""http://www.kicksta...",3125,US,2012-03-24 14:16:07,"{""urls"":{""web"":{""user"":""https://www.kickstarte...",USD,$,True,...,2012-04-17 03:59:03,1.0,"{""web"":{""project"":""https://www.kickstarter.com...",3125.0,domestic,"{""country"":""US"",""urls"":{""web"":{""discover"":""htt...",NaN,NaN,NaN,NaN
3,82,1000 Artists is a public art-making installati...,"{""urls"":{""web"":{""discover"":""http://www.kicksta...",4586,US,2012-03-05 05:41:24,"{""urls"":{""web"":{""user"":""https://www.kickstarte...",USD,$,True,...,2012-05-08 01:22:25,1.0,"{""web"":{""project"":""https://www.kickstarter.com...",4586.0,domestic,"{""country"":""US"",""urls"":{""web"":{""discover"":""htt...",NaN,NaN,NaN,NaN
4,31,P.M.A.F.T.W. my upcoming solo show June 2012 a...,"{""urls"":{""web"":{""discover"":""http://www.kicksta...",1036,US,2012-03-23 04:23:27,"{""urls"":{""web"":{""user"":""https://www.kickstarte...",USD,$,True,...,2012-04-03 02:57:23,1.0,"{""web"":{""project"":""https://www.kickstarter.com...",1036.0,domestic,"{""country"":""US"",""urls"":{""web"":{""discover"":""htt...",NaN,NaN,NaN,NaN

In [44]:
# factorize state
sample_data['state'] = sample_data['state'].astype('category')
sample_data['state'].describe()

count           4090
unique             5
top       successful
freq            2773
Name: state, dtype: object

In [45]:
# parse json format
import json
df = sample_data[['category','creator','location']]

# 'sub category'
parsed = df['category'].apply(json.loads).apply(pd.Series)
sample_data['subcat'] = parsed['slug']

# 'creator_name'
parsed = df['creator'].apply(json.loads).apply(pd.Series)
sample_data['creator_name'] = parsed['name']

# 'short_name' from location
i=0
for row in df['location']:
    try:
        sample_data.at[i,'city']=json.loads(row)['short_name']
    except TypeError:
        pass
    i+=1   

sample_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4090 entries, 0 to 4089
Data columns (total 40 columns):
backers_count               4090 non-null int64
blurb                       4088 non-null object
category                    4090 non-null object
converted_pledged_amount    4090 non-null int64
country                     4090 non-null object
created_at                  4090 non-null datetime64[ns]
creator                     4090 non-null object
currency                    4090 non-null object
currency_symbol             4090 non-null object
currency_trailing_code      4090 non-null bool
current_currency            4090 non-null object
deadline                    4090 non-null datetime64[ns]
disable_communication       4090 non-null bool
fx_rate                     4090 non-null float64
goal                        4090 non-null float64
id                          4090 non-null int64
is_starrable                4090 non-null bool
launched_at                 4090 non-null datetime64[ns]
name                        4090 non-null object
photo                       4090 non-null object
pledged                     4090 non-null float64
profile                     4090 non-null object
slug                        4090 non-null object
source_url                  4090 non-null object
spotlight                   4090 non-null bool
staff_pick                  4090 non-null bool
state                       4090 non-null category
state_changed_at            4090 non-null datetime64[ns]
static_usd_rate             4090 non-null float64
urls                        4090 non-null object
usd_pledged                 4090 non-null float64
usd_type                    4090 non-null object
location                    4025 non-null object
friends                     0 non-null float64
is_backing                  0 non-null float64
is_starred                  0 non-null float64
permissions                 0 non-null float64
subcat                      4090 non-null object
creator_name                4090 non-null object
city                        4025 non-null object
dtypes: bool(5), category(1), datetime64[ns](4), float64(9), int64(3), object(18)
memory usage: 1.1+ MB

In [50]:
sample_data['life'] = sample_data['deadline']-sample_data['launched_at']
sample_data['duration'] = sample_data['state_changed_at']-sample_data['launched_at']
sample_data['prep'] =  sample_data['launched_at'] - sample_data['created_at']

sample_data['prep']
#sample_data['state_changed_at'][0].year

0       80 days 21:19:15
1       25 days 23:37:16
2        4 days 08:45:12
3       23 days 19:41:01
4        5 days 22:33:56
5        7 days 01:07:25
6        7 days 12:20:45
7       51 days 06:27:03
8       20 days 13:55:53
9        2 days 19:28:54
10      63 days 18:14:49
11       3 days 23:34:18
12      17 days 07:56:09
13      10 days 22:21:21
14      21 days 15:58:29
15      13 days 11:01:18
16      27 days 20:35:09
17       3 days 10:29:47
18      85 days 19:45:43
19       5 days 02:45:38
20       5 days 02:26:23
21      33 days 18:50:03
22     127 days 04:54:35
23       8 days 01:21:59
24       0 days 01:41:48
25      33 days 16:44:09
26       2 days 21:44:01
27       2 days 08:47:53
28       3 days 23:47:37
29       2 days 22:38:24
              ...
4060     2 days 03:09:30
4061   164 days 16:49:11
4062    27 days 23:47:17
4063    37 days 18:48:42
4064    25 days 23:15:51
4065   135 days 02:55:41
4066     1 days 21:16:44
4067   157 days 00:03:24
4068    16 days 00:11:22
4069     7 days 03:14:21
4070    43 days 05:18:56
4071     8 days 18:43:29
4072     4 days 00:13:34
4073    17 days 17:19:07
4074    26 days 18:05:49
4075    24 days 09:43:02
4076    61 days 12:12:28
4077    29 days 15:53:41
4078     6 days 04:47:08
4079    28 days 14:19:37
4080     7 days 04:07:01
4081    11 days 02:15:54
4082    14 days 11:02:20
4083     2 days 01:18:17
4084    58 days 00:55:39
4085     6 days 11:01:39
4086     1 days 22:02:58
4087    23 days 11:45:03
4088     5 days 15:43:50
4089    36 days 06:18:47
Name: prep, Length: 4090, dtype: timedelta64[ns]

In [54]:
# keep only US observations
df_sample = sample_data[sample_data.country == "US"]
df_sample.info()

# keep selected columns
col = ['country','backers_count','goal','launched_at','deadline','state_changed_at','state',
       'pledged','city','creator_name','subcat','life','duration','prep']
df_sample = df_sample[col]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3617 entries, 0 to 4089
Data columns (total 43 columns):
backers_count               3617 non-null int64
blurb                       3615 non-null object
category                    3617 non-null object
converted_pledged_amount    3617 non-null int64
country                     3617 non-null object
created_at                  3617 non-null datetime64[ns]
creator                     3617 non-null object
currency                    3617 non-null object
currency_symbol             3617 non-null object
currency_trailing_code      3617 non-null bool
current_currency            3617 non-null object
deadline                    3617 non-null datetime64[ns]
disable_communication       3617 non-null bool
fx_rate                     3617 non-null float64
goal                        3617 non-null float64
id                          3617 non-null int64
is_starrable                3617 non-null bool
launched_at                 3617 non-null datetime64[ns]
name                        3617 non-null object
photo                       3617 non-null object
pledged                     3617 non-null float64
profile                     3617 non-null object
slug                        3617 non-null object
source_url                  3617 non-null object
spotlight                   3617 non-null bool
staff_pick                  3617 non-null bool
state                       3617 non-null category
state_changed_at            3617 non-null datetime64[ns]
static_usd_rate             3617 non-null float64
urls                        3617 non-null object
usd_pledged                 3617 non-null float64
usd_type                    3617 non-null object
location                    3552 non-null object
friends                     0 non-null float64
is_backing                  0 non-null float64
is_starred                  0 non-null float64
permissions                 0 non-null float64
subcat                      3617 non-null object
creator_name                3617 non-null object
city                        3552 non-null object
life                        3617 non-null timedelta64[ns]
duration                    3617 non-null timedelta64[ns]
prep                        3617 non-null timedelta64[ns]
dtypes: bool(5), category(1), datetime64[ns](4), float64(9), int64(3), object(18), timedelta64[ns](3)
memory usage: 1.1+ MB

In [61]:
df_sample.groupby('city').describe()

                       backers_count                                         \
                               count        mean         std    min     25%
city
Aberdeen, SD                     1.0    1.000000         NaN    1.0    1.00
Accra, Ghana                     1.0    8.000000         NaN    8.0    8.00
Akron, OH                        1.0    4.000000         NaN    4.0    4.00
Alameda, CA                      1.0  118.000000         NaN  118.0  118.00
Albany, NY                       1.0   52.000000         NaN   52.0   52.00
Albany, OR                       1.0    4.000000         NaN    4.0    4.00
Albuquerque, NM                 10.0   60.300000   53.696782    0.0   23.25
Alexandria, MN                   1.0    0.000000         NaN    0.0    0.00
Alexandria, VA                   2.0   50.500000   34.648232   26.0   38.25
Alfred, NY                       6.0   39.000000   19.421637   23.0   25.00
Alger, MI                        1.0    0.000000         NaN    0.0    0.00
Allen, TX                        1.0   53.000000         NaN   53.0   53.00
Allendale, SC                    1.0    8.000000         NaN    8.0    8.00
Allentown, PA                    2.0    1.000000    0.000000    1.0    1.00
Alliance, OH                     1.0    0.000000         NaN    0.0    0.00
Allston, MA                      1.0   16.000000         NaN   16.0   16.00
Amarillo, TX                     2.0   12.500000   17.677670    0.0    6.25
American Canyon, CA              1.0  159.000000         NaN  159.0  159.00
Ames, IA                         1.0   22.000000         NaN   22.0   22.00
Amherst, MA                      3.0   33.333333   38.370996    5.0   11.50
Amherst, VA                      1.0   52.000000         NaN   52.0   52.00
Amityville, NY                   1.0    2.000000         NaN    2.0    2.00
Amsterdam, Netherlands           3.0   49.000000   32.357379   26.0   30.50
Anacortes, WA                    1.0   54.000000         NaN   54.0   54.00
Anacostia, DC                    1.0   24.000000         NaN   24.0   24.00
Anaheim, CA                      1.0  124.000000         NaN  124.0  124.00
Anchorage, AK                    5.0   46.000000   57.410800    0.0   20.00
Andover, MA                      1.0   26.000000         NaN   26.0   26.00
Angwin, CA                       1.0   31.000000         NaN   31.0   31.00
Ann Arbor, MI                   16.0   27.875000   19.932804    0.0   18.75
...                              ...         ...         ...    ...     ...
White Plains, NY                 1.0   28.000000         NaN   28.0   28.00
Whitehouse, TX                   1.0    1.000000         NaN    1.0    1.00
Whittier, CA                     1.0   21.000000         NaN   21.0   21.00
Wichita, KS                      5.0    9.200000    6.379655    0.0    8.00
Wilkesboro, NC                   1.0   21.000000         NaN   21.0   21.00
Willamina, OR                    1.0   23.000000         NaN   23.0   23.00
Williamsburg, VA                 1.0    8.000000         NaN    8.0    8.00
Williamsport, PA                 1.0   21.000000         NaN   21.0   21.00
Williamstown, NJ                 1.0    4.000000         NaN    4.0    4.00
Williston, ND                    1.0    6.000000         NaN    6.0    6.00
Willow River, MN                 1.0   10.000000         NaN   10.0   10.00
Wilmer, TX                       1.0    3.000000         NaN    3.0    3.00
Wilmington, DE                   3.0   20.666667   11.930353   11.0   14.00
Wilmington, NC                   2.0   41.000000   36.769553   15.0   28.00
Wilton, CT                       1.0  199.000000         NaN  199.0  199.00
Windhoek, Namibia                1.0   10.000000         NaN   10.0   10.00
Windsor Locks, CT                1.0   12.000000         NaN   12.0   12.00
Winston-Salem, NC                6.0   30.833333   43.032159    0.0    7.00
Woburn, MA                       1.0    9.000000         NaN    9.0    9.00
Woodside, CA                     1.0   30.000000         NaN   30.0   30.00
Woodstock, GA                    1.0   24.000000         NaN   24.0   24.00
Worcester, MA                    2.0  154.500000  156.270599   44.0   99.25
Wurtsboro, NY                    1.0   80.000000         NaN   80.0   80.00
Wynwood, FL                      1.0    0.000000         NaN    0.0    0.00
Xiamen, China                    2.0  117.000000   69.296465   68.0   92.50
Yellow Springs, OH               1.0   12.000000         NaN   12.0   12.00
York Corner, ME                  1.0  124.000000         NaN  124.0  124.00
York, PA                         1.0   28.000000         NaN   28.0   28.00
Yuba City, CA                    1.0    0.000000         NaN    0.0    0.00
Zurich, Switzerland              1.0   56.000000         NaN   56.0   56.00

                                             converted_pledged_amount  \
                          50%     75%    max                    count
city
Aberdeen, SD              1.0    1.00    1.0                      1.0
Accra, Ghana              8.0    8.00    8.0                      1.0
Akron, OH                 4.0    4.00    4.0                      1.0
Alameda, CA             118.0  118.00  118.0                      1.0
Albany, NY               52.0   52.00   52.0                      1.0
Albany, OR                4.0    4.00    4.0                      1.0
Albuquerque, NM          50.0   86.00  175.0                     10.0
Alexandria, MN            0.0    0.00    0.0                      1.0
Alexandria, VA           50.5   62.75   75.0                      2.0
Alfred, NY               32.5   46.00   73.0                      6.0
Alger, MI                 0.0    0.00    0.0                      1.0
Allen, TX                53.0   53.00   53.0                      1.0
Allendale, SC             8.0    8.00    8.0                      1.0
Allentown, PA             1.0    1.00    1.0                      2.0
Alliance, OH              0.0    0.00    0.0                      1.0
Allston, MA              16.0   16.00   16.0                      1.0
Amarillo, TX             12.5   18.75   25.0                      2.0
American Canyon, CA     159.0  159.00  159.0                      1.0
Ames, IA                 22.0   22.00   22.0                      1.0
Amherst, MA              18.0   47.50   77.0                      3.0
Amherst, VA              52.0   52.00   52.0                      1.0
Amityville, NY            2.0    2.00    2.0                      1.0
Amsterdam, Netherlands   35.0   60.50   86.0                      3.0
Anacortes, WA            54.0   54.00   54.0                      1.0
Anacostia, DC            24.0   24.00   24.0                      1.0
Anaheim, CA             124.0  124.00  124.0                      1.0
Anchorage, AK            32.0   32.00  146.0                      5.0
Andover, MA              26.0   26.00   26.0                      1.0
Angwin, CA               31.0   31.00   31.0                      1.0
Ann Arbor, MI            26.0   33.50   78.0                     16.0
...                       ...     ...    ...                      ...
White Plains, NY         28.0   28.00   28.0                      1.0
Whitehouse, TX            1.0    1.00    1.0                      1.0
Whittier, CA             21.0   21.00   21.0                      1.0
Wichita, KS               8.0   13.00   17.0                      5.0
Wilkesboro, NC           21.0   21.00   21.0                      1.0
Willamina, OR            23.0   23.00   23.0                      1.0
Williamsburg, VA          8.0    8.00    8.0                      1.0
Williamsport, PA         21.0   21.00   21.0                      1.0
Williamstown, NJ          4.0    4.00    4.0                      1.0
Williston, ND             6.0    6.00    6.0                      1.0
Willow River, MN         10.0   10.00   10.0                      1.0
Wilmer, TX                3.0    3.00    3.0                      1.0
Wilmington, DE           17.0   25.50   34.0                      3.0
Wilmington, NC           41.0   54.00   67.0                      2.0
Wilton, CT              199.0  199.00  199.0                      1.0
Windhoek, Namibia        10.0   10.00   10.0                      1.0
Windsor Locks, CT        12.0   12.00   12.0                      1.0
Winston-Salem, NC        14.5   31.00  115.0                      6.0
Woburn, MA                9.0    9.00    9.0                      1.0
Woodside, CA             30.0   30.00   30.0                      1.0
Woodstock, GA            24.0   24.00   24.0                      1.0
Worcester, MA           154.5  209.75  265.0                      2.0
Wurtsboro, NY            80.0   80.00   80.0                      1.0
Wynwood, FL               0.0    0.00    0.0                      1.0
Xiamen, China           117.0  141.50  166.0                      2.0
Yellow Springs, OH       12.0   12.00   12.0                      1.0
York Corner, ME         124.0  124.00  124.0                      1.0
York, PA                 28.0   28.00   28.0                      1.0
Yuba City, CA             0.0    0.00    0.0                      1.0
Zurich, Switzerland      56.0   56.00   56.0                      1.0

                                             ...             pledged  \
                                mean         ...                 75%
city                                         ...
Aberdeen, SD                3.000000         ...              3.0000
Accra, Ghana              350.000000         ...            350.0000
Akron, OH                 125.000000         ...            125.0000
Alameda, CA              6761.000000         ...           6761.0000
Albany, NY                543.000000         ...            543.0000
Albany, OR                 12.000000         ...             12.0000
Albuquerque, NM          5715.800000         ...           7330.8750
Alexandria, MN              0.000000         ...              0.0000
Alexandria, VA           2949.000000         ...           3182.0000
Alfred, NY               1991.333333         ...           2836.0000
Alger, MI                   0.000000         ...              0.0000
Allen, TX                1744.000000         ...           1744.0000
Allendale, SC             510.000000         ...            510.0000
Allentown, PA              20.000000         ...             22.5000
Alliance, OH                0.000000         ...              0.0000
Allston, MA               980.000000         ...            980.0000
Amarillo, TX              355.000000         ...            532.5000
American Canyon, CA      8901.000000         ...           8901.0000
Ames, IA                  810.000000         ...            810.0000
Amherst, MA              3292.666667         ...           4868.0000
Amherst, VA              1138.000000         ...           1138.3700
Amityville, NY             70.000000         ...             70.0000
Amsterdam, Netherlands   2195.000000         ...           2716.5000
Anacortes, WA            2111.000000         ...           2111.0000
Anacostia, DC             323.000000         ...            323.0000
Anaheim, CA             11035.000000         ...          11035.0000
Anchorage, AK            4037.400000         ...           2052.0000
Andover, MA              5086.000000         ...           5086.0100
Angwin, CA               1800.000000         ...           1800.0000
Ann Arbor, MI            1344.937500         ...           1712.6925
...                              ...         ...                 ...
White Plains, NY          773.000000         ...            773.0000
Whitehouse, TX              1.000000         ...              1.0000
Whittier, CA             1142.000000         ...           1142.0000
Wichita, KS               451.400000         ...            482.0000
Wilkesboro, NC            429.000000         ...            429.0000
Willamina, OR            1345.000000         ...           1345.0000
Williamsburg, VA          375.000000         ...            375.0000
Williamsport, PA          752.000000         ...            752.3400
Williamstown, NJ           41.000000         ...             41.0000
Williston, ND             171.000000         ...            171.0000
Willow River, MN          365.000000         ...            365.0000
Wilmer, TX                316.000000         ...            316.0000
Wilmington, DE           1203.333333         ...           1708.0000
Wilmington, NC           3078.500000         ...           4124.2500
Wilton, CT              14493.000000         ...          14493.0000
Windhoek, Namibia        1318.000000         ...           1318.0000
Windsor Locks, CT         577.000000         ...            577.0100
Winston-Salem, NC        1747.500000         ...           1514.6250
Woburn, MA                357.000000         ...            357.0000
Woodside, CA             1067.000000         ...           1067.5000
Woodstock, GA            1309.000000         ...           1309.0000
Worcester, MA            4925.500000         ...           6928.3575
Wurtsboro, NY            3505.000000         ...           3505.0000
Wynwood, FL                 0.000000         ...              0.0000
Xiamen, China            8199.500000         ...           9193.2500
Yellow Springs, OH       2642.000000         ...           2642.0000
York Corner, ME          4310.000000         ...           4310.0000
York, PA                 2075.000000         ...           2075.0000
Yuba City, CA               0.000000         ...              0.0000
Zurich, Switzerland      3614.000000         ...           3614.0000

                                  prep                            \
                             max count                      mean
city
Aberdeen, SD                3.00     1           0 days 00:49:02
Accra, Ghana              350.00     1          63 days 02:55:38
Akron, OH                 125.00     1          13 days 15:35:44
Alameda, CA              6761.00     1           0 days 01:29:46
Albany, NY                543.00     1           2 days 00:41:39
Albany, OR                 12.00     1         316 days 13:14:34
Albuquerque, NM         25435.00    10   68 days 19:14:40.500000
Alexandria, MN              0.00     1           7 days 05:46:55
Alexandria, VA           3415.00     2           3 days 18:24:35
Alfred, NY               3484.00     6   22 days 17:15:33.166666
Alger, MI                   0.00     1          53 days 00:06:39
Allen, TX                1744.00     1           9 days 18:48:33
Allendale, SC             510.00     1           6 days 02:38:11
Allentown, PA              25.00     2           5 days 15:05:43
Alliance, OH                0.00     1           4 days 21:22:03
Allston, MA               980.00     1          11 days 00:03:35
Amarillo, TX              710.00     2    1 days 03:20:00.500000
American Canyon, CA      8901.00     1           7 days 04:07:01
Ames, IA                  810.00     1           0 days 01:47:25
Amherst, MA              9000.00     3   30 days 06:06:27.666666
Amherst, VA              1138.37     1           0 days 03:21:58
Amityville, NY             70.00     1           7 days 00:15:16
Amsterdam, Netherlands   3366.00     3    9 days 18:58:47.666666
Anacortes, WA            2111.00     1           6 days 00:38:40
Anacostia, DC             323.00     1          79 days 14:12:31
Anaheim, CA             11035.00     1           0 days 04:52:39
Anchorage, AK           15308.00     5    3 days 19:27:52.800000
Andover, MA              5086.01     1          18 days 11:04:33
Angwin, CA               1800.00     1          24 days 16:53:15
Ann Arbor, MI            7350.00    16  112 days 04:43:49.500000
...                          ...   ...                       ...
White Plains, NY          773.00     1           3 days 04:51:30
Whitehouse, TX              1.00     1           0 days 19:49:25
Whittier, CA             1142.00     1          51 days 16:13:11
Wichita, KS              1180.00     5   87 days 06:34:29.600000
Wilkesboro, NC            429.00     1           0 days 08:13:01
Willamina, OR            1345.00     1           8 days 09:38:47
Williamsburg, VA          375.00     1           0 days 07:15:10
Williamsport, PA          752.34     1           0 days 21:09:29
Williamstown, NJ           41.00     1         109 days 09:35:36
Williston, ND             171.00     1           4 days 03:16:30
Willow River, MN          365.00     1           5 days 11:20:47
Wilmer, TX                316.00     1           0 days 19:32:47
Wilmington, DE           3136.00     3   11 days 19:14:20.333333
Wilmington, NC           5170.00     2          56 days 18:13:57
Wilton, CT              14493.00     1         377 days 06:44:23
Windhoek, Namibia        1318.00     1          31 days 02:05:01
Windsor Locks, CT         577.01     1           4 days 05:47:16
Winston-Salem, NC        7395.00     6          16 days 11:27:29
Woburn, MA                357.00     1           8 days 03:22:22
Woodside, CA             1067.50     1          30 days 03:00:52
Woodstock, GA            1309.00     1           1 days 05:55:24
Worcester, MA            8930.59     2   13 days 12:01:25.500000
Wurtsboro, NY            3505.00     1          19 days 21:48:10
Wynwood, FL                 0.00     1           1 days 14:25:46
Xiamen, China           10187.00     2          33 days 23:20:52
Yellow Springs, OH       2642.00     1          25 days 20:02:24
York Corner, ME          4310.00     1          16 days 00:22:06
York, PA                 2075.00     1          47 days 19:35:45
Yuba City, CA               0.00     1           2 days 10:22:21
Zurich, Switzerland      3614.00     1          27 days 11:27:03

                                                                     \
                                             std                min
city
Aberdeen, SD                                 NaT    0 days 00:49:02
Accra, Ghana                                 NaT   63 days 02:55:38
Akron, OH                                    NaT   13 days 15:35:44
Alameda, CA                                  NaT    0 days 01:29:46
Albany, NY                                   NaT    2 days 00:41:39
Albany, OR                                   NaT  316 days 13:14:34
Albuquerque, NM         161 days 16:26:43.624167    1 days 18:37:54
Alexandria, MN                               NaT    7 days 05:46:55
Alexandria, VA            4 days 08:37:45.882843    0 days 16:25:32
Alfred, NY               23 days 01:24:18.355743    3 days 05:00:09
Alger, MI                                    NaT   53 days 00:06:39
Allen, TX                                    NaT    9 days 18:48:33
Allendale, SC                                NaT    6 days 02:38:11
Allentown, PA             4 days 00:36:30.470326    2 days 18:46:58
Alliance, OH                                 NaT    4 days 21:22:03
Allston, MA                                  NaT   11 days 00:03:35
Amarillo, TX              0 days 01:10:46.176221    1 days 02:29:58
American Canyon, CA                          NaT    7 days 04:07:01
Ames, IA                                     NaT    0 days 01:47:25
Amherst, MA              34 days 03:55:00.972534    4 days 19:11:04
Amherst, VA                                  NaT    0 days 03:21:58
Amityville, NY                               NaT    7 days 00:15:16
Amsterdam, Netherlands   11 days 22:15:45.670281    0 days 02:59:07
Anacortes, WA                                NaT    6 days 00:38:40
Anacostia, DC                                NaT   79 days 14:12:31
Anaheim, CA                                  NaT    0 days 04:52:39
Anchorage, AK             2 days 16:19:42.310357    0 days 20:55:43
Andover, MA                                  NaT   18 days 11:04:33
Angwin, CA                                   NaT   24 days 16:53:15
Ann Arbor, MI           346 days 05:01:04.552930    0 days 02:02:09
...                                          ...                ...

In [60]:
pd.pivot_table(df_sample,index=["city"])

,backers_count,converted_pledged_amount,goal,pledged
city,,,,
"Aberdeen, SD",1.000000,3.000000,800.000000,3.000000
"Accra, Ghana",8.000000,350.000000,12000.000000,350.000000
"Akron, OH",4.000000,125.000000,9000.000000,125.000000
"Alameda, CA",118.000000,6761.000000,5500.000000,6761.000000
"Albany, NY",52.000000,543.000000,300.000000,543.000000
"Albany, OR",4.000000,12.000000,111.000000,12.000000
"Albuquerque, NM",60.300000,5715.800000,7000.000000,5715.850000
"Alexandria, MN",0.000000,0.000000,100000.000000,0.000000
"Alexandria, VA",50.500000,2949.000000,2300.000000,2949.000000
"Alfred, NY",39.000000,1991.333333,2700.000000,1991.333333
"Alger, MI",0.000000,0.000000,30000.000000,0.000000
"Allen, TX",53.000000,1744.000000,360.000000,1744.000000
"Allendale, SC",8.000000,510.000000,5000.000000,510.000000
"Allentown, PA",1.000000,20.000000,1625.000000,20.000000
"Alliance, OH",0.000000,0.000000,3800.000000,0.000000
"Allston, MA",16.000000,980.000000,2000.000000,980.000000
"Amarillo, TX",12.500000,355.000000,2800.000000,355.000000
"American Canyon, CA",159.000000,8901.000000,3500.000000,8901.000000
"Ames, IA",22.000000,810.000000,800.000000,810.000000
"Amherst, MA",33.333333,3292.666667,3733.333333,3292.666667
"Amherst, VA",52.000000,1138.000000,750.000000,1138.370000
"Amityville, NY",2.000000,70.000000,1100.000000,70.000000
"Amsterdam, Netherlands",49.000000,2195.000000,1766.666667,2195.000000
"Anacortes, WA",54.000000,2111.000000,2000.000000,2111.000000
"Anacostia, DC",24.000000,323.000000,250.000000,323.000000
"Anaheim, CA",124.000000,11035.000000,10000.000000,11035.000000
"Anchorage, AK",46.000000,4037.400000,5900.000000,4037.400000
"Andover, MA",26.000000,5086.000000,5000.000000,5086.010000
"Angwin, CA",31.000000,1800.000000,550.000000,1800.000000
"Ann Arbor, MI",27.875000,1344.937500,1863.937500,1344.995000
...,...,...,...,...
"White Plains, NY",28.000000,773.000000,500.000000,773.000000
"Whitehouse, TX",1.000000,1.000000,250.000000,1.000000
"Whittier, CA",21.000000,1142.000000,500.000000,1142.000000
"Wichita, KS",9.200000,451.400000,4790.000000,451.400000
"Wilkesboro, NC",21.000000,429.000000,800.000000,429.000000
"Willamina, OR",23.000000,1345.000000,500.000000,1345.000000
"Williamsburg, VA",8.000000,375.000000,1000.000000,375.000000
"Williamsport, PA",21.000000,752.000000,750.000000,752.340000
"Williamstown, NJ",4.000000,41.000000,950.000000,41.000000
"Williston, ND",6.000000,171.000000,555.000000,171.000000
"Willow River, MN",10.000000,365.000000,4500.000000,365.000000
"Wilmer, TX",3.000000,316.000000,1800.000000,316.000000
"Wilmington, DE",20.666667,1203.333333,1117.000000,1203.333333
"Wilmington, NC",41.000000,3078.500000,12500.000000,3078.500000
"Wilton, CT",199.000000,14493.000000,7500.000000,14493.000000
"Windhoek, Namibia",10.000000,1318.000000,7000.000000,1318.000000
"Windsor Locks, CT",12.000000,577.000000,500.000000,577.010000
"Winston-Salem, NC",30.833333,1747.500000,1683.333333,1747.583333
"Woburn, MA",9.000000,357.000000,300.000000,357.000000
"Woodside, CA",30.000000,1067.000000,5000.000000,1067.500000
"Woodstock, GA",24.000000,1309.000000,8000.000000,1309.000000
"Worcester, MA",154.500000,4925.500000,3262.500000,4926.125000
"Wurtsboro, NY",80.000000,3505.000000,3500.000000,3505.000000
"Wynwood, FL",0.000000,0.000000,35000.000000,0.000000
"Xiamen, China",117.000000,8199.500000,6500.000000,8199.500000
"Yellow Springs, OH",12.000000,2642.000000,25000.000000,2642.000000
"York Corner, ME",124.000000,4310.000000,4000.000000,4310.000000
"York, PA",28.000000,2075.000000,2000.000000,2075.000000
"Yuba City, CA",0.000000,0.000000,50000.000000,0.000000
"Zurich, Switzerland",56.000000,3614.000000,12760.000000,3614.000000