# Kickstarter_survivors
### Sifan Liu

## Set up and load data

In [2]:
# Load packages and set up
import numpy as np
import pandas as pd
import json
import glob

def CustomParser(data):
    import json
    try:
        j1 = json.loads(data)
        return j1
    except ValueError:
        pass

JSONconverters = {'location':CustomParser, 'category':CustomParser, 'creator':CustomParser}

In [19]:
# read data from csv

def ReadAllfiles(path):
    all_files = glob.glob(path + "/*.csv")
    df_from_each_file = (pd.read_csv(f,converters = JSONconverters) for f in all_files)
    df = pd.concat(df_from_each_file, ignore_index = True)
    return df

path2018 = r'source/Kickstarter_2018-02-15T03_20_44_743Z'
# path2017 = r'source/Kickstarter_2017-02-15T22_22_48_377Z'
# path2015 = r'source/Kickstarter_2015-12-17T12_09_06_107Z'

# df2015 = ReadAllfiles(path2015)
# df2017 = ReadAllfiles(path2017)
df2018 = ReadAllfiles(path2018)

# df = pd.concat([df2018, df2017, df2015]).drop_duplicates(["id"]).reset_index(drop=True)
df = df2018.drop_duplicates(["id"]).reset_index(drop=True)

In [8]:
# sample_data ------------------------------------------
# df = pd.read_csv('source/kickstarter_sample.csv', converters = JSONconverters)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212743 entries, 0 to 212742
Data columns (total 37 columns):
backers_count               212743 non-null int64
blurb                       212728 non-null object
category                    212743 non-null object
converted_pledged_amount    68480 non-null float64
country                     212743 non-null object
created_at                  212743 non-null int64
creator                     212743 non-null object
currency                    212743 non-null object
currency_symbol             212743 non-null object
currency_trailing_code      212743 non-null bool
current_currency            68480 non-null object
deadline                    212743 non-null int64
disable_communication       212743 non-null bool
friends                     63 non-null object
fx_rate                     68480 non-null float64
goal                        212743 non-null float64
id                          212743 non-null int64
is_backing                  63 non-null object
is_starrable                68480 non-null object
is_starred                  63 non-null object
launched_at                 212743 non-null int64
location                    211733 non-null object
name                        212740 non-null object
permissions                 63 non-null object
photo                       212743 non-null object
pledged                     212743 non-null float64
profile                     212743 non-null object
slug                        212743 non-null object
source_url                  212743 non-null object
spotlight                   212743 non-null bool
staff_pick                  68480 non-null object
state                       212743 non-null object
state_changed_at            212743 non-null int64
static_usd_rate             212743 non-null float64
urls                        212743 non-null object
usd_pledged                 212743 non-null float64
usd_type                    68370 non-null object
dtypes: bool(3), float64(6), int64(6), object(22)
memory usage: 55.8+ MB

In [61]:
df = df2018.drop_duplicates(["id"]).reset_index(drop=True)

In [63]:
# extract json information to columns
def JsonConcate(dataframe, column):
    temp = dataframe[column].apply(pd.Series)
    temp = temp.rename(columns = lambda x : column + '_' + str(x))
    dataframe = pd.concat([dataframe[:],temp[:]],axis =1)
    return dataframe

for col in ('location','category','creator'):
    df = JsonConcate(df,col)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177768 entries, 0 to 177767
Data columns (total 62 columns):
backers_count                177768 non-null int64
blurb                        177757 non-null object
category                     177768 non-null object
converted_pledged_amount     177768 non-null int64
country                      177768 non-null object
created_at                   177768 non-null int64
creator                      177768 non-null object
currency                     177768 non-null object
currency_symbol              177768 non-null object
currency_trailing_code       177768 non-null bool
current_currency             177768 non-null object
deadline                     177768 non-null int64
disable_communication        177768 non-null bool
fx_rate                      177768 non-null float64
goal                         177768 non-null float64
id                           177768 non-null int64
is_starrable                 177768 non-null bool
launched_at                  177768 non-null int64
name                         177767 non-null object
photo                        177768 non-null object
pledged                      177768 non-null float64
profile                      177768 non-null object
slug                         177768 non-null object
source_url                   177768 non-null object
spotlight                    177768 non-null bool
staff_pick                   177768 non-null bool
state                        177768 non-null object
state_changed_at             177768 non-null int64
static_usd_rate              177768 non-null float64
urls                         177768 non-null object
usd_pledged                  177768 non-null float64
usd_type                     177658 non-null object
location                     176834 non-null object
friends                      63 non-null object
is_backing                   63 non-null object
is_starred                   63 non-null object
permissions                  63 non-null object
location_country             176834 non-null object
location_displayable_name    176834 non-null object
location_id                  176834 non-null float64
location_is_root             176834 non-null object
location_localized_name      176834 non-null object
location_name                176834 non-null object
location_short_name          176834 non-null object
location_slug                176424 non-null object
location_state               176796 non-null object
location_type                176834 non-null object
location_urls                176834 non-null object
category_color               177768 non-null int64
category_id                  177768 non-null int64
category_name                177768 non-null object
category_parent_id           162013 non-null float64
category_position            177768 non-null int64
category_slug                177768 non-null object
category_urls                177768 non-null object
creator_avatar               177768 non-null object
creator_chosen_currency      213 non-null object
creator_id                   177768 non-null int64
creator_is_registered        177768 non-null bool
creator_name                 177768 non-null object
creator_slug                 50006 non-null object
creator_urls                 177768 non-null object
dtypes: bool(6), float64(7), int64(11), object(38)
memory usage: 77.0+ MB

In [10]:
place2msa = pd.read_csv("source/place2msa.csv", encoding = 'latin-1')
# remove 'city'|'town'|'CDP'
place2msa['place'] = place2msa['PLACENAME'].str.replace(r'(\s\w+)$','')

place2msa.sample(5)

,Unnamed: 0,STATE,STATEFP,PLACEFP,PLACENAME,TYPE,FUNCSTAT,cty_name,cty_alt,FIPS_City,...,cbsa_name,metro_micro,csa_name,st_name,countyFIPS,central_outlying,fips,top100,Frey52,place
1693,1694,AR,5,43100,McNeil city,Incorporated Place,A,Columbia County,NaN,543100,...,"Magnolia, AR",Micropolitan Statistical Area,NaN,Arkansas,27.0,Central,5027.0,0.0,0.0,McNeil
3682,3683,CO,8,41560,Kremmling town,Incorporated Place,A,Grand County,NaN,841560,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kremmling
27592,27593,OK,40,8150,Boynton town,Incorporated Place,A,Muskogee County,NaN,4008150,...,"Muskogee, OK",Micropolitan Statistical Area,"Tulsa-Muskogee-Bartlesville, OK",Oklahoma,101.0,Central,40101.0,0.0,0.0,Boynton
11978,11979,MD,24,59450,Oxford town,Incorporated Place,A,Talbot County,NaN,2459450,...,"Easton, MD",Micropolitan Statistical Area,"Washington-Baltimore-Arlington, DC-MD-VA-WV-PA",Maryland,41.0,Central,24041.0,0.0,0.0,Oxford
1039,1040,AZ,4,19790,Donovan Estates CDP,Census Designated Place,S,Yuma County,NaN,419790,...,"Yuma, AZ",Metropolitan Statistical Area,NaN,Arizona,27.0,Central,4027.0,0.0,0.0,Donovan Estates

In [ ]:
## TODO

# merge population data

## Clean Kickstarter dataset

In [64]:
# convert unix time
time_cols = ['created_at', 'deadline', 'state_changed_at','launched_at']
df[time_cols] = df[time_cols].apply(pd.to_datetime,unit='s')

In [65]:
# calculate duration
df['life'] = df['deadline'] - df['launched_at']
df['duration'] = df['state_changed_at'] - df['launched_at']
df['prep'] =  df['launched_at'] - df['created_at']

# df['state_changed_at'][0].year

In [66]:
# factorize project state
df['state'] = df['state'].astype('category')
pd.pivot_table(df, index = ['state'])

,backers_count,category_color,category_id,category_parent_id,category_position,converted_pledged_amount,creator_id,creator_is_registered,currency_trailing_code,disable_communication,fx_rate,goal,id,is_starrable,location_id,pledged,spotlight,staff_pick,static_usd_rate,usd_pledged
state,,,,,,,,,,,,,,,,,,,,
canceled,14.587102,1.127952e+07,251.370169,12.062110,6.537346,1743.798255,1.078425e+09,1.0,0.819336,0.0,1.016327,129306.888268,1.081208e+09,0.00000,3.405093e+06,2071.929268,0.0,0.034115,1.018392,1745.899967
failed,13.019837,1.180095e+07,216.340124,11.859127,6.932698,1144.602144,1.074013e+09,1.0,0.843957,0.0,1.017993,88342.206501,1.077481e+09,0.00000,3.493862e+06,1357.222444,0.0,0.035116,1.022850,1146.295789
live,80.875032,1.074827e+07,136.374905,11.303049,6.442079,6548.369835,1.062118e+09,1.0,0.762484,0.0,0.997732,46893.271990,1.068351e+09,0.93891,3.685258e+06,17131.152763,0.0,0.065399,1.000146,6656.601356
successful,236.058059,1.225580e+07,113.373641,11.649710,7.542236,19341.140266,1.073333e+09,1.0,0.895923,0.0,1.017327,9969.891147,1.072992e+09,0.00000,3.294161e+06,20733.162174,1.0,0.211494,1.021309,19343.073561
suspended,25.078203,9.734057e+06,281.163062,12.978369,5.725458,3818.810316,1.090515e+09,1.0,0.795341,1.0,1.018514,248081.559068,1.107546e+09,0.00000,3.151386e+06,4122.225191,0.0,0.000000,1.018617,3804.140207

In [67]:
df['category_broad'] = df['category_slug'].str.extract(r'([^\/]+)', expand = False).astype('category')
df['category_broad'].describe()

count     177768
unique        15
top        music
freq       24720
Name: category_broad, dtype: object

In [68]:
# generate gender by first name
# STEP 1: strip first name
df['first_name'] = df['creator_name'].str.extract(r'([^\s]+)',expand = False).str.title()

# STEP 2: gender
# https://pypi.org/project/gender-guesser/
import gender_guesser.detector as gender
d = gender.Detector()

# STEP 3: apply
df['gender'] = df['first_name'].apply(d.get_gender)

pd.pivot_table(df, index = ['gender'],aggfunc = len)

,backers_count,blurb,category,category_broad,category_color,category_id,category_name,category_parent_id,category_position,category_slug,...,slug,source_url,spotlight,staff_pick,state,state_changed_at,static_usd_rate,urls,usd_pledged,usd_type
gender,,,,,,,,,,,,,,,,,,,,,
andy,1817,1817,1817,1817,1817,1817,1817,1817.0,1817,1817,...,1817,1817,1817,1817,1817,1817,1817.0,1817,1817.0,1817
female,32398,32398,32398,32398,32398,32398,32398,32398.0,32398,32398,...,32398,32398,32398,32398,32398,32398,32398.0,32398,32398.0,32398
male,78593,78593,78593,78593,78593,78593,78593,78593.0,78593,78593,...,78593,78593,78593,78593,78593,78593,78593.0,78593,78593.0,78593
mostly_female,7134,7134,7134,7134,7134,7134,7134,7134.0,7134,7134,...,7134,7134,7134,7134,7134,7134,7134.0,7134,7134.0,7134
mostly_male,7538,7538,7538,7538,7538,7538,7538,7538.0,7538,7538,...,7538,7538,7538,7538,7538,7538,7538.0,7538,7538.0,7538
unknown,50288,50288,50288,50288,50288,50288,50288,50288.0,50288,50288,...,50288,50288,50288,50288,50288,50288,50288.0,50288,50288.0,50288

In [69]:
# match place to MSA
df = pd.merge(df,place2msa,how = 'left',
              left_on=['location_state','location_name'],
              right_on=['STATE','place'])

In [45]:
# df = df.drop_duplicates(["id"])

## Summary: selected columns

In [70]:
# keep selected columns
col = ['location_country','location_state','location_localized_name','location_name','cbsa_name','top100',
       'backers_count','goal','pledged','creator_name','gender','category_broad','category_name',
       'launched_at','deadline','state_changed_at','state','life','duration','prep']

df_sample = df[col]

# table = pd.pivot_table(df_sample, index=["location_state","location_country"], aggfunc = [np.mean,len])
# table.query('location_country == ["US"]')

In [3]:
# df = pd.read_pickle("master")

In [74]:
# df_sample.to_pickle("sample")
df_sample.to_pickle("master")

In [71]:
df['state'].value_counts()

successful    105055
failed         82220
canceled        9764
live            4358
suspended        678
Name: state, dtype: int64

In [72]:
df.isnull().sum()

backers_count                    0
blurb                           11
category                         0
converted_pledged_amount         0
country                          0
created_at                       0
creator                          0
currency                         0
currency_symbol                  0
currency_trailing_code           0
current_currency                 0
deadline                         0
disable_communication            0
fx_rate                          0
goal                             0
id                               0
is_starrable                     0
launched_at                      0
name                             1
photo                            0
pledged                          0
profile                          0
slug                             0
source_url                       0
spotlight                        0
staff_pick                       0
state                            0
state_changed_at                 0
static_usd_rate                  0
urls                             0
                             ...
creator_name                     0
creator_slug                145204
creator_urls                     0
life                             0
duration                         0
prep                             0
category_broad                   0
first_name                       0
gender                           0
Unnamed: 0                   52461
STATE                        52461
STATEFP                      52461
PLACEFP                      52461
PLACENAME                    52461
TYPE                         52461
FUNCSTAT                     52461
cty_name                     52461
cty_alt                     171826
FIPS_City                    52461
cbsa                         55203
cbsa_name                    55203
metro_micro                  55203
csa_name                     74888
st_name                      55203
countyFIPS                   55203
central_outlying             55203
fips                         55203
top100                       55203
Frey52                       55203
place                        52461
Length: 89, dtype: int64

In [73]:
df.shape

(202075, 89)