# Kickstarter_survivors
### Sifan Liu

## Set up and load data

In [2]:
# Load packages and set up
import numpy as np
import pandas as pd
import json
import glob

In [2]:
## function to convert Json format when read data
def CustomParser(data):
    import json
    try:
        j1 = json.loads(data)
        return j1
    except ValueError:
        pass

In [31]:
# read data from csv 

#source:https://webrobots.io/kickstarter-datasets/

### variables in Json format
JSONconverters = {'location':CustomParser, 'category':CustomParser, 'creator':CustomParser}

## read all files in one folder
def ReadAllfiles(path):
    all_files = glob.glob(path + "/*.csv")
    df_from_each_file = (pd.read_csv(f,converters = JSONconverters) for f in all_files)
    df = pd.concat(df_from_each_file, ignore_index = True)
    return df

## loop over all folders
# paths of folders
# path2018 = r'../datasample/Kickstarter_2018-02-15T03_20_44_743Z'
path2018 = r'source/Kickstarter_2018-02-15T03_20_44_743Z'
path2017 = r'source/Kickstarter_2017-02-15T22_22_48_377Z'
path2015 = r'source/Kickstarter_2015-12-17T12_09_06_107Z'

paths = [path2018,path2017,path2015]

# loop over all folders to read data
files =[]
if len(paths) == 1:
    df = ReadAllfiles(paths[0]).drop_duplicates(['id']).reset_index(drop = True)
else:
    for path in paths:
        files.append(ReadAllfiles(path))
    df = pd.concat(files).drop_duplicates(['id']).reset_index(drop = True)

In [32]:
# Check for structure
df.info()
df.state.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229158 entries, 0 to 229157
Data columns (total 37 columns):
backers_count               229158 non-null int64
blurb                       229142 non-null object
category                    229158 non-null object
converted_pledged_amount    177768 non-null float64
country                     229158 non-null object
created_at                  229158 non-null int64
creator                     229158 non-null object
currency                    229158 non-null object
currency_symbol             229158 non-null object
currency_trailing_code      229158 non-null bool
current_currency            177768 non-null object
deadline                    229158 non-null int64
disable_communication       229158 non-null bool
friends                     88 non-null object
fx_rate                     177768 non-null float64
goal                        229158 non-null float64
id                          229158 non-null int64
is_backing                  88 non-null object
is_starrable                177768 non-null object
is_starred                  88 non-null object
launched_at                 229158 non-null int64
location                    228139 non-null object
name                        229155 non-null object
permissions                 88 non-null object
photo                       229158 non-null object
pledged                     229158 non-null float64
profile                     229158 non-null object
slug                        229158 non-null object
source_url                  229158 non-null object
spotlight                   229158 non-null bool
staff_pick                  217956 non-null object
state                       229158 non-null object
state_changed_at            229158 non-null int64
static_usd_rate             229158 non-null float64
urls                        229158 non-null object
usd_pledged                 229158 non-null float64
usd_type                    177658 non-null object
dtypes: bool(3), float64(6), int64(6), object(22)
memory usage: 60.1+ MB

successful    106467
failed        100949
canceled       14209
live            6598
suspended        935
Name: state, dtype: int64

In [40]:
# check for duplicates
df['blurb'].nunique()

227137

In [ ]:
# explore why duplicated projects
df[df.duplicated(['blurb','state'], keep=False)].sort_values('blurb')

In [41]:
# Parse json information to columns
def JsonConcate(dataframe, column):
    temp = dataframe[column].apply(pd.Series)
    temp = temp.rename(columns = lambda x : column + '_' + str(x))
    dataframe = pd.concat([dataframe[:],temp[:]],axis =1)
    return dataframe

# loop over columns of interests
for col in ('location','category','creator'):
    df = JsonConcate(df,col)

In [42]:
# check for data structure
df.describe()

,backers_count,converted_pledged_amount,created_at,deadline,fx_rate,goal,id,launched_at,pledged,state_changed_at,static_usd_rate,usd_pledged,location_id,category_color,category_id,category_parent_id,category_position,creator_id
count,229158.000000,1.777680e+05,2.291580e+05,2.291580e+05,177768.000000,2.291580e+05,2.291580e+05,2.291580e+05,2.291580e+05,2.291580e+05,229158.000000,2.291580e+05,2.281390e+05,2.291580e+05,229158.000000,213403.000000,229158.000000,2.291580e+05
mean,134.510155,1.065451e+04,1.409091e+09,1.415715e+09,1.017120,4.736501e+04,1.074919e+09,1.412791e+09,1.231552e+04,1.415505e+09,1.023158,1.133936e+04,3.345251e+06,1.171946e+07,144.633921,11.950839,7.340891,1.073756e+09
std,1099.654976,8.127804e+04,5.974174e+07,5.971013e+07,0.179635,1.177301e+06,6.191452e+08,5.985133e+07,1.326847e+05,5.954899e+07,0.198229,1.064598e+05,6.639353e+06,6.041543e+06,132.561820,5.192080,4.659398,6.196543e+08
min,0.000000,0.000000e+00,1.240335e+09,1.241334e+09,0.006695,1.000000e-02,1.852000e+04,1.240603e+09,0.000000e+00,1.241334e+09,0.008771,0.000000e+00,6.000000e+00,5.162700e+04,1.000000,1.000000,1.000000,3.000000e+00
25%,2.000000,6.800000e+01,1.366122e+09,1.373842e+09,1.000000,2.000000e+03,5.373470e+08,1.371064e+09,5.000000e+01,1.373828e+09,1.000000,5.000000e+01,2.357536e+06,6.526716e+06,33.000000,10.000000,4.000000,5.391185e+08
50%,19.000000,1.227000e+03,1.415988e+09,1.424101e+09,1.000000,5.000000e+03,1.078157e+09,1.421359e+09,1.036000e+03,1.423916e+09,1.000000,1.039334e+03,2.436704e+06,1.486766e+07,48.000000,12.000000,6.000000,1.073706e+09
75%,74.000000,5.545000e+03,1.453224e+09,1.459533e+09,1.000000,1.500000e+04,1.609535e+09,1.456774e+09,5.411000e+03,1.459448e+09,1.000000,5.378801e+03,2.476012e+06,1.673457e+07,285.000000,16.000000,10.000000,1.609859e+09
max,219382.000000,1.026684e+07,1.518675e+09,1.523863e+09,1.764208,1.000000e+08,2.147476e+09,1.518704e+09,2.902191e+07,1.518704e+09,1.716408,2.033899e+07,1.000000e+08,1.677606e+07,389.000000,26.000000,19.000000,2.147483e+09

In [8]:
## TODO

# merge population data

## Clean Kickstarter dataset

In [52]:
# convert unix time
time_cols = ['created_at', 'deadline', 'state_changed_at','launched_at']
df[time_cols] = df[time_cols].apply(pd.to_datetime,unit='s')

In [53]:
# calculate duration
df['life'] = df['deadline'] - df['launched_at']
df['duration'] = df['state_changed_at'] - df['launched_at']
df['prep'] =  df['launched_at'] - df['created_at']

# df['state_changed_at'][0].year

In [54]:
# factorize project state
df['state'] = df['state'].astype('category')
pd.pivot_table(df, index = ['state'])

,backers_count,category_color,category_id,category_parent_id,category_position,converted_pledged_amount,creator_id,currency_trailing_code,disable_communication,fx_rate,goal,id,location_id,pledged,spotlight,static_usd_rate,usd_pledged
state,,,,,,,,,,,,,,,,,
canceled,16.787670,1.128081e+07,219.556126,11.943979,6.614188,1743.798255,1.073440e+09,0.826941,0.0,1.016327,108419.388324,1.078944e+09,3.383121e+06,2198.289056,0.0,1.022012,1880.345850
failed,15.353981,1.189849e+07,180.153355,12.395300,7.222112,1144.602144,1.074790e+09,0.851321,0.0,1.017993,75222.466067,1.075948e+09,3.399049e+06,1390.778084,0.0,1.024491,1226.156637
live,79.587602,9.651019e+06,112.798878,11.261356,6.388754,6548.369835,1.064460e+09,0.770537,0.0,0.997732,67398.047590,1.066265e+09,3.699216e+06,13099.435370,0.0,0.990838,6334.436266
successful,267.148666,1.175241e+07,101.929903,11.504089,7.621150,19341.140266,1.073443e+09,0.888472,0.0,1.017327,10439.783884,1.073539e+09,3.267135e+06,24030.501114,1.0,1.024136,22550.453500
suspended,72.659893,9.900384e+06,258.425668,12.954011,6.014973,3818.810316,1.068083e+09,0.806417,1.0,1.018514,175103.094118,1.120790e+09,3.327024e+06,6076.805604,0.0,1.013442,5704.382428

In [55]:
df['category_broad'] = df['category_slug'].str.extract(r'([^\/]+)', expand = False).astype('category')
df['category_broad'].describe()

count           229158
unique              15
top       film & video
freq             34528
Name: category_broad, dtype: object

In [58]:
# generate gender by first name
## STEP 1: strip first name
df['first_name'] = df['creator_name'].str.extract(r'([^\s]+)',expand = False).str.title()

## STEP 2: gender
#### https://pypi.org/project/gender-guesser/
import gender_guesser.detector as gender
d = gender.Detector()

## STEP 3: apply
df['gender'] = df['first_name'].apply(d.get_gender)

## Describe gender
df.gender.value_counts()

## Match places to MSA

In [114]:
place2msa = pd.read_csv("source/place2msa.csv", encoding = 'latin-1', dtype = object)
# remove the part that's not part of the capitalized place name
place2msa['place'] = place2msa['PLACENAME'].str.split(r'(\s)(\b[a-z]|CDP)').str[0]

place2msa.sample(5)

,Unnamed: 0,STATE,STATEFP,PLACEFP,PLACENAME,TYPE,FUNCSTAT,cty_name,cty_alt,FIPS_City,...,cbsa_name,metro_micro,csa_name,st_name,countyFIPS,central_outlying,fips,top100,Frey52,place
16250,16251,MN,27,25280,Granite Falls city,County Subdivision,F,Chippewa County,Yellow Medicine County,2725280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Granite Falls
139,140,AL,1,21280,Double Springs town,Incorporated Place,A,Winston County,NaN,121280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Double Springs
28558,28559,OR,41,66700,Shaniko city,Incorporated Place,A,Wasco County,NaN,4166700,...,"The Dalles, OR",Micropolitan Statistical Area,NaN,Oregon,65,Central,41065,0,0,Shaniko
20329,20330,MT,30,79525,West Yellowstone town,Incorporated Place,A,Gallatin County,NaN,3079525,...,"Bozeman, MT",Micropolitan Statistical Area,NaN,Montana,31,Central,30031,0,0,West Yellowstone
2747,2748,CA,6,45232,Malaga CDP,Census Designated Place,S,Fresno County,NaN,645232,...,"Fresno, CA",Metropolitan Statistical Area,"Fresno-Madera, CA",California,19,Central,6019,1,0,Malaga

In [115]:
place2msa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41414 entries, 0 to 41413
Data columns (total 21 columns):
Unnamed: 0          41414 non-null object
STATE               41414 non-null object
STATEFP             41414 non-null object
PLACEFP             41414 non-null object
PLACENAME           41414 non-null object
TYPE                41414 non-null object
FUNCSTAT            41414 non-null object
cty_name            41414 non-null object
cty_alt             1344 non-null object
FIPS_City           41414 non-null object
cbsa                29930 non-null object
cbsa_name           29930 non-null object
metro_micro         29930 non-null object
csa_name            21252 non-null object
st_name             29930 non-null object
countyFIPS          29930 non-null object
central_outlying    29930 non-null object
fips                29930 non-null object
top100              29930 non-null object
Frey52              29930 non-null object
place               41414 non-null object
dtypes: object(21)
memory usage: 6.6+ MB

In [62]:
# match place to MSA

df = pd.merge(df, place2msa[['STATE','place','cbsa_name','cbsa','top100']].drop_duplicates(), 
                 how='left', indicator=True,
                 left_on =['location_state','location_name'],
                 right_on=['STATE','place'])

match_result = df['_merge'] == 'left_only'
unmatched = df[match_result]
matched = df[~match_result]

# TODO: keep only 1 result for 1 to m match

In [4]:
unmatched = pd.read_pickle("unmatched")
matched = pd.read_pickle("matched")

In [5]:
# how many places unmatched?
len(unmatched)/len(matched)

0.41013749055361887

In [6]:
# creat a list with unique unmatched places
unmatched_US = unmatched.loc[(unmatched.top100.isnull()) & (unmatched.location_country == 'US')]
unmatched_add = unmatched_US['location_short_name'].unique().tolist()

# how many unique unmatched places?
len(unmatched_add)

2059

### Geocoding unmatched places
Get county FIPS from FCC using lat and lng from Google Geocode API

In [56]:
import requests

def get_FCC_results(lat,lng):
    FCC_url = "https://geo.fcc.gov/api/census/block/find?latitude={}&longitude={}&format=json".format(lat,lng)
    
    results = requests.get(FCC_url)
    results = results.json()
    FIPS = results['County']['FIPS']
    
    return FIPS

In [57]:
# test
get_FCC_results("40.789142",'-73.13496099999999')

'36103'

In [59]:

def get_google_results(address, api_key = None):
    geocode_url = "https://maps.googleapis.com/maps/api/geocode/json?address={}".format(address)
    if api_key is not None:
        geocode_url = geocode_url + "&key={}".format(api_key)
        
    results = requests.get(geocode_url)
    results = results.json()
    if len(results['results']) == 0:
        output = {'unmatched_add':address,
                  'FIPS':None}
    else:
        answer = results['results'][0]
        lat = answer.get('geometry').get('location').get('lat')
        lng = answer.get('geometry').get('location').get('lng')
                 
        output = {'unmatched_add':address,
                  'FIPS':get_FCC_results(lat,lng)}
    
    output['status'] = results.get('status')
     
    return output

In [62]:
# test the function

# API_KEY = 'AIzaSyB-ZUZ-8gz59WjahkqORGbZu__NrPZZR_k'
# API_KEY = 'AIzaSyCQ45XL4eBGspCFRljnlfF66lOFZHcMAmA'
# API_KEY = 'AIzaSyAPQb3kmYBsoN3A-zBvDnf8DVUrw0hSmlY'
API_KEY = 'AIzaSyAs2L1RRZDrEOkK0sC8FyeJfOxn1mAvxsU'
# API_KEY = 'AIzaSyAoA9wda-y1_tk2rdxZN_QJujY1JkgH3l0'

get_google_results("Long Island, NY,US",API_KEY)

{'FIPS': '36103', 'status': 'OK', 'unmatched_add': 'Long Island, NY,US'}

In [11]:
# take note of error messages
import logging
import time

logger = logging.getLogger("root")
logger.setLevel(logging.DEBUG)
# create console handler
ch = logging.StreamHandler()
ch.setLevel(logging.DEBUG)
logger.addHandler(ch)

In [63]:
# run api on unmatched places
results = []

for address in unmatched_add:
    geocoded = False
    while geocoded is not True:
        try:
            geocode_result = get_google_results(address, API_KEY)
        except Exception as e:
            logger.exception(e)
            logger.error("Major error with {}".format(address))
            logger.error("Skipping!")
            geocoded = True
            
        if geocode_result['status'] == 'OVER_QUERY_LIMIT':
            logger.info("Hit Query Limit at {}".format(len(results)))
            geocoded = False
        else:
            if geocode_result['status'] != 'OK':
                logger.warning("Error geocoding {}: {}".format(address, geocode_result['status']))
            results.append(geocode_result)
            geocoded = True
        
    if len(results) % 500 == 0:
        logger.info("Completed {} of {} address".format(len(results), len(unmatched_add)))

Completed 500 of 2059 address
Completed 1000 of 2059 address
Completed 1500 of 2059 address
Completed 2000 of 2059 address

In [95]:
placeMap = pd.DataFrame(results).apply(pd.Series)
placeMap.isnull().sum()

FIPS             3
status           0
unmatched_add    0
dtype: int64

In [96]:
placeMap.sample(5)

       FIPS status     unmatched_add
1732  36079     OK      Garrison, NY
601   36005     OK   South Bronx, NY
949   28025     OK   Cedar Bluff, MS
545   49057     OK         Ogden, UT
107   09001     OK  West Norwalk, CT

In [116]:
county2msa = pd.read_csv("source/geocorr14.csv", encoding = 'latin-1')[1:]

county2msa = pd.merge(county2msa[['county','cbsa']],
                      place2msa[['cbsa','cbsa_name','top100']].drop_duplicates(),
                      how = 'left',
                      on = 'cbsa')
county2msa.head()

  county   cbsa                  cbsa_name top100
0  01001  33860             Montgomery, AL      0
1  01003  19300  Daphne-Fairhope-Foley, AL      0
2  01005  21640             Eufaula, AL-GA      0
3  01007  13820      Birmingham-Hoover, AL      1
4  01009  13820      Birmingham-Hoover, AL      1

In [117]:
# merge back
placeMap = pd.merge(placeMap[['unmatched_add','FIPS']], 
                    county2msa.drop_duplicates(), 
                    how = 'left', 
                    left_on=['FIPS'],
                    right_on=['county'])

placeMap.sample(5)

,unmatched_add,FIPS,county,cbsa,cbsa_name,top100
1787,"North Richland Hills, TX",48439,48439,19100,"Dallas-Fort Worth-Arlington, TX",1
1542,"West Colorado Springs, CO",08041,08041,17820,"Colorado Springs, CO",1
375,"Northridge, CA",06037,06037,31080,"Los Angeles-Long Beach-Anaheim, CA",1
1015,"Toutle, WA",53015,53015,31020,"Longview, WA",0
1534,"Biggersville, MS",28003,28003,18420,"Corinth, MS",0

In [119]:
cols_to_use = unmatched.columns.difference(placeMap.columns)

unmatched = pd.merge(placeMap,
                     unmatched[cols_to_use],
                     how = 'right',
                     left_on = ['unmatched_add'],
                     right_on = ['location_short_name'])

In [120]:
df = pd.concat([unmatched,matched])

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231381 entries, 0 to 231380
Data columns (total 81 columns):
FIPS                         10491 non-null object
STATE                        173856 non-null object
_merge                       231381 non-null category
address                      10494 non-null object
backers_count                231381 non-null int64
blurb                        231365 non-null object
category                     231381 non-null object
category_broad               231381 non-null category
category_color               231381 non-null int64
category_id                  231381 non-null int64
category_name                231381 non-null object
category_parent_id           215470 non-null float64
category_position            231381 non-null int64
category_slug                231381 non-null object
category_urls                231381 non-null object
cbsa                         171859 non-null object
cbsa_name                    171188 non-null object
converted_pledged_amount     179496 non-null float64
country                      231381 non-null object
county                       10491 non-null object
created_at                   231381 non-null datetime64[ns]
creator                      231381 non-null object
creator_avatar               231381 non-null object
creator_chosen_currency      213 non-null object
creator_id                   231381 non-null int64
creator_is_registered        179496 non-null object
creator_name                 231381 non-null object
creator_slug                 64803 non-null object
creator_urls                 231381 non-null object
cty_name                     9772 non-null object
currency                     231381 non-null object
currency_symbol              231381 non-null object
currency_trailing_code       231381 non-null bool
current_currency             179496 non-null object
deadline                     231381 non-null datetime64[ns]
disable_communication        231381 non-null bool
duration                     231381 non-null timedelta64[ns]
first_name                   231381 non-null object
friends                      88 non-null object
fx_rate                      179496 non-null float64
gender                       231381 non-null object
goal                         231381 non-null float64
google_county                9795 non-null object
google_state                 10494 non-null object
id                           231381 non-null int64
is_backing                   88 non-null object
is_starrable                 179496 non-null object
is_starred                   88 non-null object
launched_at                  231381 non-null datetime64[ns]
life                         231381 non-null timedelta64[ns]
location                     230362 non-null object
location_country             230362 non-null object
location_displayable_name    230362 non-null object
location_id                  230362 non-null float64
location_is_root             230362 non-null object
location_localized_name      178562 non-null object
location_name                230362 non-null object
location_short_name          230362 non-null object
location_slug                229845 non-null object
location_state               230312 non-null object
location_type                230362 non-null object
location_urls                230362 non-null object
name                         231378 non-null object
permissions                  88 non-null object
photo                        231381 non-null object
place                        164084 non-null object
pledged                      231381 non-null float64
prep                         231381 non-null timedelta64[ns]
profile                      231381 non-null object
slug                         231381 non-null object
source_url                   231381 non-null object
spotlight                    231381 non-null bool
staff_pick                   220049 non-null object
state                        231381 non-null category
state_changed_at             231381 non-null datetime64[ns]
static_usd_rate              231381 non-null float64
top100                       171188 non-null object
unmatched_add                10494 non-null object
urls                         231381 non-null object
usd_pledged                  231381 non-null float64
usd_type                     179384 non-null object
dtypes: bool(3), category(3), datetime64[ns](4), float64(8), int64(6), object(54), timedelta64[ns](3)
memory usage: 135.5+ MB

## Summary: selected columns

In [3]:
df = pd.read_pickle("master")

In [122]:
# keep selected columns
col = ['location_country','location_state','location_localized_name','location_name','cbsa','cbsa_name','top100',
       'backers_count','goal','pledged','creator_name','gender','category_broad','category_name',
       'launched_at','deadline','state_changed_at','state','life','duration','prep','slug','blurb',
      ]

df_sample = df[col]

In [123]:
df.to_pickle("master")

In [124]:
df_sample.to_pickle("sample")
# unmatched.to_pickle("unmatched")
# matched.to_pickle("matched")

In [22]:
df['profile'][10000]['']

'{"background_image_opacity":0.8,"should_show_feature_image_section":true,"link_text_color":null,"state_changed_at":1425915871,"blurb":null,"background_color":null,"project_id":1284075,"name":null,"feature_image_attributes":{"image_urls":{"default":"https://ksr-ugc.imgix.net/assets/011/833/449/9ff5dd993ae8b02c0b864885b5df74c0_original.jpg?crop=faces&w=1552&h=873&fit=crop&v=1463701381&auto=format&q=92&s=0ef7169922874d16d5838c0daf47d02b","baseball_card":"https://ksr-ugc.imgix.net/assets/011/833/449/9ff5dd993ae8b02c0b864885b5df74c0_original.jpg?crop=faces&w=560&h=315&fit=crop&v=1463701381&auto=format&q=92&s=a71dc7940f04381798cfa8a11cc12d73"}},"link_url":null,"show_feature_image":false,"id":1284075,"state":"inactive","text_color":null,"link_text":null,"link_background_color":null}'

In [ ]:
df.profile['']