# Kickstarter_survivors
### Sifan Liu

In [1]:
# Load packages and read sample data
import numpy as np
import pandas as pd

in_file = 'source/kickstarter_sample.csv'
sample_data = pd.read_csv(in_file)
sample_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4090 entries, 0 to 4089
Data columns (total 37 columns):
backers_count               4090 non-null int64
blurb                       4088 non-null object
category                    4090 non-null object
converted_pledged_amount    4090 non-null int64
country                     4090 non-null object
created_at                  4090 non-null int64
creator                     4090 non-null object
currency                    4090 non-null object
currency_symbol             4090 non-null object
currency_trailing_code      4090 non-null bool
current_currency            4090 non-null object
deadline                    4090 non-null int64
disable_communication       4090 non-null bool
fx_rate                     4090 non-null float64
goal                        4090 non-null float64
id                          4090 non-null int64
is_starrable                4090 non-null bool
launched_at                 4090 non-null int64
name                        4090 non-null object
photo                       4090 non-null object
pledged                     4090 non-null float64
profile                     4090 non-null object
slug                        4090 non-null object
source_url                  4090 non-null object
spotlight                   4090 non-null bool
staff_pick                  4090 non-null bool
state                       4090 non-null object
state_changed_at            4090 non-null int64
static_usd_rate             4090 non-null float64
urls                        4090 non-null object
usd_pledged                 4090 non-null float64
usd_type                    4090 non-null object
location                    4025 non-null object
friends                     0 non-null float64
is_backing                  0 non-null float64
is_starred                  0 non-null float64
permissions                 0 non-null float64
dtypes: bool(5), float64(9), int64(7), object(16)
memory usage: 1.0+ MB

In [2]:
# convert unix time
time_cols = ['created_at', 'deadline', 'state_changed_at','launched_at']
sample_data[time_cols] = sample_data[time_cols].apply(pd.to_datetime,unit='s')

In [3]:
# factorize state
sample_data['state'] = sample_data['state'].astype('category')
sample_data['state'].describe()

count           4090
unique             5
top       successful
freq            2773
Name: state, dtype: object

In [4]:
# parse json format
import json
df = sample_data[['category','creator','location']]

# 'sub category'
parsed = df['category'].apply(json.loads).apply(pd.Series)
sample_data['subcat'] = parsed['slug']

# 'creator_name'
parsed = df['creator'].apply(json.loads).apply(pd.Series)
sample_data['creator_name'] = parsed['name']

# 'short_name' from location
i=0
for row in df['location']:
    try:
        sample_data.at[i,'city']=json.loads(row)['short_name']
    except TypeError:
        pass
    i+=1   

sample_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4090 entries, 0 to 4089
Data columns (total 40 columns):
backers_count               4090 non-null int64
blurb                       4088 non-null object
category                    4090 non-null object
converted_pledged_amount    4090 non-null int64
country                     4090 non-null object
created_at                  4090 non-null datetime64[ns]
creator                     4090 non-null object
currency                    4090 non-null object
currency_symbol             4090 non-null object
currency_trailing_code      4090 non-null bool
current_currency            4090 non-null object
deadline                    4090 non-null datetime64[ns]
disable_communication       4090 non-null bool
fx_rate                     4090 non-null float64
goal                        4090 non-null float64
id                          4090 non-null int64
is_starrable                4090 non-null bool
launched_at                 4090 non-null datetime64[ns]
name                        4090 non-null object
photo                       4090 non-null object
pledged                     4090 non-null float64
profile                     4090 non-null object
slug                        4090 non-null object
source_url                  4090 non-null object
spotlight                   4090 non-null bool
staff_pick                  4090 non-null bool
state                       4090 non-null category
state_changed_at            4090 non-null datetime64[ns]
static_usd_rate             4090 non-null float64
urls                        4090 non-null object
usd_pledged                 4090 non-null float64
usd_type                    4090 non-null object
location                    4025 non-null object
friends                     0 non-null float64
is_backing                  0 non-null float64
is_starred                  0 non-null float64
permissions                 0 non-null float64
subcat                      4090 non-null object
creator_name                4090 non-null object
city                        4025 non-null object
dtypes: bool(5), category(1), datetime64[ns](4), float64(9), int64(3), object(18)
memory usage: 1.1+ MB

In [7]:
sample_data['life'] = sample_data['deadline']-sample_data['launched_at']
sample_data['duration'] = sample_data['state_changed_at']-sample_data['launched_at']
sample_data['prep'] =  sample_data['launched_at'] - sample_data['created_at']

#sample_data['state_changed_at'][0].year

In [8]:
# keep selected columns
col = ['country','backers_count','goal','launched_at','deadline','state_changed_at','state',
       'pledged','city','creator_name','subcat','life','duration','prep']
df_sample = sample_data[col]

In [9]:
df_sample.groupby('city').describe()

                       backers_count                                         \
                               count        mean         std    min     25%
city
Aberdeen, SD                     1.0    1.000000         NaN    1.0    1.00
Accra, Ghana                     1.0    8.000000         NaN    8.0    8.00
Achern, Germany                  1.0    0.000000         NaN    0.0    0.00
Adelaide, AU                     2.0    4.500000    4.949747    1.0    2.75
Aguascalientes, Mexico           1.0    0.000000         NaN    0.0    0.00
Akron, OH                        1.0    4.000000         NaN    4.0    4.00
Alameda, CA                      1.0  118.000000         NaN  118.0  118.00
Albany, NY                       1.0   52.000000         NaN   52.0   52.00
Albany, OR                       1.0    4.000000         NaN    4.0    4.00
Albuquerque, NM                 10.0   60.300000   53.696782    0.0   23.25
Alexandria, MN                   1.0    0.000000         NaN    0.0    0.00
Alexandria, VA                   2.0   50.500000   34.648232   26.0   38.25
Alfred, NY                       6.0   39.000000   19.421637   23.0   25.00
Alger, MI                        1.0    0.000000         NaN    0.0    0.00
Allen, TX                        1.0   53.000000         NaN   53.0   53.00
Allendale, SC                    1.0    8.000000         NaN    8.0    8.00
Allentown, PA                    2.0    1.000000    0.000000    1.0    1.00
Alliance, OH                     1.0    0.000000         NaN    0.0    0.00
Allston, MA                      1.0   16.000000         NaN   16.0   16.00
Amarillo, TX                     2.0   12.500000   17.677670    0.0    6.25
American Canyon, CA              1.0  159.000000         NaN  159.0  159.00
Ames, IA                         1.0   22.000000         NaN   22.0   22.00
Amherst, MA                      3.0   33.333333   38.370996    5.0   11.50
Amherst, VA                      1.0   52.000000         NaN   52.0   52.00
Amityville, NY                   1.0    2.000000         NaN    2.0    2.00
Amsterdam, Netherlands           6.0   25.000000   33.334667    0.0    0.75
Anacortes, WA                    1.0   54.000000         NaN   54.0   54.00
Anacostia, DC                    1.0   24.000000         NaN   24.0   24.00
Anaheim, CA                      1.0  124.000000         NaN  124.0  124.00
Anchorage, AK                    5.0   46.000000   57.410800    0.0   20.00
...                              ...         ...         ...    ...     ...
Willamina, OR                    1.0   23.000000         NaN   23.0   23.00
Williamsburg, VA                 1.0    8.000000         NaN    8.0    8.00
Williamsport, PA                 1.0   21.000000         NaN   21.0   21.00
Williamstown, NJ                 1.0    4.000000         NaN    4.0    4.00
Williston, ND                    1.0    6.000000         NaN    6.0    6.00
Willow River, MN                 1.0   10.000000         NaN   10.0   10.00
Wilmer, TX                       1.0    3.000000         NaN    3.0    3.00
Wilmington, DE                   3.0   20.666667   11.930353   11.0   14.00
Wilmington, NC                   2.0   41.000000   36.769553   15.0   28.00
Wilton, CT                       1.0  199.000000         NaN  199.0  199.00
Wiltshire, UK                    1.0    6.000000         NaN    6.0    6.00
Winchester, UK                   2.0   24.500000   34.648232    0.0   12.25
Windhoek, Namibia                1.0   10.000000         NaN   10.0   10.00
Windsor Locks, CT                1.0   12.000000         NaN   12.0   12.00
Winnipeg, Canada                 2.0    6.500000    9.192388    0.0    3.25
Winston-Salem, NC                6.0   30.833333   43.032159    0.0    7.00
Woburn, MA                       1.0    9.000000         NaN    9.0    9.00
Woodside, CA                     1.0   30.000000         NaN   30.0   30.00
Woodstock, GA                    1.0   24.000000         NaN   24.0   24.00
Worcester, MA                    2.0  154.500000  156.270599   44.0   99.25
Wurtsboro, NY                    1.0   80.000000         NaN   80.0   80.00
Wynwood, FL                      1.0    0.000000         NaN    0.0    0.00
Xiamen, China                    2.0  117.000000   69.296465   68.0   92.50
Yellow Springs, OH               1.0   12.000000         NaN   12.0   12.00
York Corner, ME                  1.0  124.000000         NaN  124.0  124.00
York, PA                         1.0   28.000000         NaN   28.0   28.00
Yuba City, CA                    1.0    0.000000         NaN    0.0    0.00
Zaragoza, Spain                  4.0    2.500000    1.914854    1.0    1.00
Zeeland, Netherlands             1.0    6.000000         NaN    6.0    6.00
Zurich, Switzerland              3.0   21.666667   29.771351    3.0    4.50

                                             duration  \
                          50%     75%    max    count
city
Aberdeen, SD              1.0    1.00    1.0        1
Accra, Ghana              8.0    8.00    8.0        1
Achern, Germany           0.0    0.00    0.0        1
Adelaide, AU              4.5    6.25    8.0        2
Aguascalientes, Mexico    0.0    0.00    0.0        1
Akron, OH                 4.0    4.00    4.0        1
Alameda, CA             118.0  118.00  118.0        1
Albany, NY               52.0   52.00   52.0        1
Albany, OR                4.0    4.00    4.0        1
Albuquerque, NM          50.0   86.00  175.0       10
Alexandria, MN            0.0    0.00    0.0        1
Alexandria, VA           50.5   62.75   75.0        2
Alfred, NY               32.5   46.00   73.0        6
Alger, MI                 0.0    0.00    0.0        1
Allen, TX                53.0   53.00   53.0        1
Allendale, SC             8.0    8.00    8.0        1
Allentown, PA             1.0    1.00    1.0        2
Alliance, OH              0.0    0.00    0.0        1
Allston, MA              16.0   16.00   16.0        1
Amarillo, TX             12.5   18.75   25.0        2
American Canyon, CA     159.0  159.00  159.0        1
Ames, IA                 22.0   22.00   22.0        1
Amherst, MA              18.0   47.50   77.0        3
Amherst, VA              52.0   52.00   52.0        1
Amityville, NY            2.0    2.00    2.0        1
Amsterdam, Netherlands   14.5   32.75   86.0        6
Anacortes, WA            54.0   54.00   54.0        1
Anacostia, DC            24.0   24.00   24.0        1
Anaheim, CA             124.0  124.00  124.0        1
Anchorage, AK            32.0   32.00  146.0        5
...                       ...     ...    ...      ...
Willamina, OR            23.0   23.00   23.0        1
Williamsburg, VA          8.0    8.00    8.0        1
Williamsport, PA         21.0   21.00   21.0        1
Williamstown, NJ          4.0    4.00    4.0        1
Williston, ND             6.0    6.00    6.0        1
Willow River, MN         10.0   10.00   10.0        1
Wilmer, TX                3.0    3.00    3.0        1
Wilmington, DE           17.0   25.50   34.0        3
Wilmington, NC           41.0   54.00   67.0        2
Wilton, CT              199.0  199.00  199.0        1
Wiltshire, UK             6.0    6.00    6.0        1
Winchester, UK           24.5   36.75   49.0        2
Windhoek, Namibia        10.0   10.00   10.0        1
Windsor Locks, CT        12.0   12.00   12.0        1
Winnipeg, Canada          6.5    9.75   13.0        2
Winston-Salem, NC        14.5   31.00  115.0        6
Woburn, MA                9.0    9.00    9.0        1
Woodside, CA             30.0   30.00   30.0        1
Woodstock, GA            24.0   24.00   24.0        1
Worcester, MA           154.5  209.75  265.0        2
Wurtsboro, NY            80.0   80.00   80.0        1
Wynwood, FL               0.0    0.00    0.0        1
Xiamen, China           117.0  141.50  166.0        2
Yellow Springs, OH       12.0   12.00   12.0        1
York Corner, ME         124.0  124.00  124.0        1
York, PA                 28.0   28.00   28.0        1
Yuba City, CA             0.0    0.00    0.0        1
Zaragoza, Spain           2.0    3.50    5.0        4
Zeeland, Netherlands      6.0    6.00    6.0        1
Zurich, Switzerland       6.0   31.00   56.0        3

                                                       ...          \
                                           mean        ...
city                                                   ...
Aberdeen, SD                    6 days 19:39:44        ...
Accra, Ghana                   30 days 00:00:00        ...
Achern, Germany                 7 days 02:02:02        ...
Adelaide, AU            36 days 12:00:00.500000        ...
Aguascalientes, Mexico         40 days 00:00:00        ...
Akron, OH                      24 days 08:23:20        ...
Alameda, CA                    30 days 22:30:36        ...
Albany, NY                     89 days 23:00:00        ...
Albany, OR                     59 days 23:00:01        ...
Albuquerque, NM         47 days 15:34:02.300000        ...
Alexandria, MN                  0 days 00:00:00        ...
Alexandria, VA                 33 days 18:36:00        ...
Alfred, NY              37 days 06:08:02.666666        ...
Alger, MI                      60 days 00:00:00        ...
Allen, TX                      29 days 23:00:01        ...
Allendale, SC                  30 days 00:00:00        ...
Allentown, PA           18 days 05:00:36.500000        ...
Alliance, OH                    0 days 00:00:00        ...
Allston, MA                     0 days 00:00:00        ...
Amarillo, TX            45 days 00:37:29.500000        ...
American Canyon, CA            31 days 00:00:00        ...
Ames, IA                       29 days 11:05:45        ...
Amherst, MA             50 days 16:00:01.333333        ...
Amherst, VA                    25 days 02:56:32        ...
Amityville, NY                 34 days 00:00:00        ...
Amsterdam, Netherlands         28 days 21:24:15        ...
Anacortes, WA                  15 days 00:00:00        ...
Anacostia, DC                  30 days 00:00:00        ...
Anaheim, CA                    30 days 00:00:03        ...
Anchorage, AK           34 days 17:09:18.200000        ...
...                                         ...        ...
Willamina, OR                  60 days 00:00:02        ...
Williamsburg, VA                0 days 00:00:00        ...
Williamsport, PA               30 days 00:00:04        ...
Williamstown, NJ               30 days 00:00:00        ...
Williston, ND                  30 days 00:00:00        ...
Willow River, MN               30 days 00:00:01        ...
Wilmer, TX                     30 days 00:00:00        ...
Wilmington, DE                 39 days 23:40:21        ...
Wilmington, NC                 45 days 00:30:01        ...
Wilton, CT                     44 days 23:00:00        ...
Wiltshire, UK                  17 days 12:05:02        ...
Winchester, UK          38 days 04:05:35.500000        ...
Windhoek, Namibia              45 days 00:00:00        ...
Windsor Locks, CT              30 days 00:00:00        ...
Winnipeg, Canada         1 days 18:27:10.500000        ...
Winston-Salem, NC       26 days 06:11:45.500000        ...
Woburn, MA                     28 days 00:00:00        ...
Woodside, CA                   29 days 06:48:34        ...
Woodstock, GA                  20 days 00:00:01        ...
Worcester, MA           30 days 00:00:01.500000        ...
Wurtsboro, NY                  31 days 14:41:01        ...
Wynwood, FL                    45 days 00:00:03        ...
Xiamen, China                  47 days 20:34:29        ...
Yellow Springs, OH             60 days 00:00:02        ...
York Corner, ME                30 days 00:00:00        ...
York, PA                       60 days 00:00:00        ...
Yuba City, CA                  30 days 00:00:03        ...
Zaragoza, Spain         11 days 17:20:06.500000        ...
Zeeland, Netherlands           16 days 00:40:41        ...
Zurich, Switzerland     15 days 16:02:56.333333        ...

                           pledged            prep                           \
                               75%       max count                     mean
city
Aberdeen, SD                3.0000      3.00     1          0 days 00:49:02
Accra, Ghana              350.0000    350.00     1         63 days 02:55:38
Achern, Germany             0.0000      0.00     1         23 days 22:57:48
Adelaide, AU              270.5900    353.12     2   3 days 05:56:16.500000
Aguascalientes, Mexico      0.0000      0.00     1          5 days 17:27:51
Akron, OH                 125.0000    125.00     1         13 days 15:35:44
Alameda, CA              6761.0000   6761.00     1          0 days 01:29:46
Albany, NY                543.0000    543.00     1          2 days 00:41:39
Albany, OR                 12.0000     12.00     1        316 days 13:14:34
Albuquerque, NM          7330.8750  25435.00    10  68 days 19:14:40.500000
Alexandria, MN              0.0000      0.00     1          7 days 05:46:55
Alexandria, VA           3182.0000   3415.00     2          3 days 18:24:35
Alfred, NY               2836.0000   3484.00     6  22 days 17:15:33.166666
Alger, MI                   0.0000      0.00     1         53 days 00:06:39
Allen, TX                1744.0000   1744.00     1          9 days 18:48:33
Allendale, SC             510.0000    510.00     1          6 days 02:38:11
Allentown, PA              22.5000     25.00     2          5 days 15:05:43
Alliance, OH                0.0000      0.00     1          4 days 21:22:03
Allston, MA               980.0000    980.00     1         11 days 00:03:35
Amarillo, TX              532.5000    710.00     2   1 days 03:20:00.500000
American Canyon, CA      8901.0000   8901.00     1          7 days 04:07:01
Ames, IA                  810.0000    810.00     1          0 days 01:47:25
Amherst, MA              4868.0000   9000.00     3  30 days 06:06:27.666666
Amherst, VA              1138.3700   1138.37     1          0 days 03:21:58
Amityville, NY             70.0000     70.00     1          7 days 00:15:16
Amsterdam, Netherlands   1838.2500   3366.00     6   8 days 14:09:08.333333
Anacortes, WA            2111.0000   2111.00     1          6 days 00:38:40
Anacostia, DC             323.0000    323.00     1         79 days 14:12:31
Anaheim, CA             11035.0000  11035.00     1          0 days 04:52:39
Anchorage, AK            2052.0000  15308.00     5   3 days 19:27:52.800000
...                            ...       ...   ...                      ...
Willamina, OR            1345.0000   1345.00     1          8 days 09:38:47
Williamsburg, VA          375.0000    375.00     1          0 days 07:15:10
Williamsport, PA          752.3400    752.34     1          0 days 21:09:29
Williamstown, NJ           41.0000     41.00     1        109 days 09:35:36
Williston, ND             171.0000    171.00     1          4 days 03:16:30
Willow River, MN          365.0000    365.00     1          5 days 11:20:47
Wilmer, TX                316.0000    316.00     1          0 days 19:32:47
Wilmington, DE           1708.0000   3136.00     3  11 days 19:14:20.333333
Wilmington, NC           4124.2500   5170.00     2         56 days 18:13:57
Wilton, CT              14493.0000  14493.00     1        377 days 06:44:23
Wiltshire, UK             491.0000    491.00     1         28 days 02:07:50
Winchester, UK           1472.2500   1963.00     2          3 days 18:14:56
Windhoek, Namibia        1318.0000   1318.00     1         31 days 02:05:01
Windsor Locks, CT         577.0100    577.01     1          4 days 05:47:16
Winnipeg, Canada          151.5000    202.00     2   0 days 20:36:19.500000
Winston-Salem, NC        1514.6250   7395.00     6         16 days 11:27:29
Woburn, MA                357.0000    357.00     1          8 days 03:22:22
Woodside, CA             1067.5000   1067.50     1         30 days 03:00:52
Woodstock, GA            1309.0000   1309.00     1          1 days 05:55:24
Worcester, MA            6928.3575   8930.59     2  13 days 12:01:25.500000
Wurtsboro, NY            3505.0000   3505.00     1         19 days 21:48:10
Wynwood, FL                 0.0000      0.00     1          1 days 14:25:46
Xiamen, China            9193.2500  10187.00     2         33 days 23:20:52
Yellow Springs, OH       2642.0000   2642.00     1         25 days 20:02:24
York Corner, ME          4310.0000   4310.00     1         16 days 00:22:06
York, PA                 2075.0000   2075.00     1         47 days 19:35:45
Yuba City, CA               0.0000      0.00     1          2 days 10:22:21
Zaragoza, Spain           135.0000    240.00     4   7 days 21:44:36.750000
Zeeland, Netherlands       36.0000     36.00     1          2 days 22:08:23
Zurich, Switzerland      2207.0000   3614.00     3         18 days 13:44:46

                                                                     \
                                             std                min
city
Aberdeen, SD                                 NaT    0 days 00:49:02
Accra, Ghana                                 NaT   63 days 02:55:38
Achern, Germany                              NaT   23 days 22:57:48
Adelaide, AU              1 days 00:26:31.660744    2 days 12:39:17
Aguascalientes, Mexico                       NaT    5 days 17:27:51
Akron, OH                                    NaT   13 days 15:35:44
Alameda, CA                                  NaT    0 days 01:29:46
Albany, NY                                   NaT    2 days 00:41:39
Albany, OR                                   NaT  316 days 13:14:34
Albuquerque, NM         161 days 16:26:43.624167    1 days 18:37:54
Alexandria, MN                               NaT    7 days 05:46:55
Alexandria, VA            4 days 08:37:45.882843    0 days 16:25:32
Alfred, NY               23 days 01:24:18.355743    3 days 05:00:09
Alger, MI                                    NaT   53 days 00:06:39
Allen, TX                                    NaT    9 days 18:48:33
Allendale, SC                                NaT    6 days 02:38:11
Allentown, PA             4 days 00:36:30.470326    2 days 18:46:58
Alliance, OH                                 NaT    4 days 21:22:03
Allston, MA                                  NaT   11 days 00:03:35
Amarillo, TX              0 days 01:10:46.176221    1 days 02:29:58
American Canyon, CA                          NaT    7 days 04:07:01
Ames, IA                                     NaT    0 days 01:47:25
Amherst, MA              34 days 03:55:00.972534    4 days 19:11:04
Amherst, VA                                  NaT    0 days 03:21:58
Amityville, NY                               NaT    7 days 00:15:16
Amsterdam, Netherlands   10 days 15:51:33.326491    0 days 00:50:57
Anacortes, WA                                NaT    6 days 00:38:40
Anacostia, DC                                NaT   79 days 14:12:31
Anaheim, CA                                  NaT    0 days 04:52:39
Anchorage, AK             2 days 16:19:42.310357    0 days 20:55:43
...                                          ...                ...
Willamina, OR                                NaT    8 days 09:38:47
Williamsburg, VA                             NaT    0 days 07:15:10
Williamsport, PA                             NaT    0 days 21:09:29
Williamstown, NJ                             NaT  109 days 09:35:36
Williston, ND                                NaT    4 days 03:16:30
Willow River, MN                             NaT    5 days 11:20:47
Wilmer, TX                                   NaT    0 days 19:32:47
Wilmington, DE            4 days 06:35:06.875628    6 days 22:42:51
Wilmington, NC           75 days 01:57:31.350720    3 days 16:03:19
Wilton, CT                                   NaT  377 days 06:44:23
Wiltshire, UK                                NaT   28 days 02:07:50
Winchester, UK            1 days 13:30:27.696721    2 days 15:43:37
Windhoek, Namibia                            NaT   31 days 02:05:01
Windsor Locks, CT                            NaT    4 days 05:47:16

In [10]:
pd.pivot_table(df_sample,index=["state"])

            backers_count          goal      pledged
state
canceled         6.504032  20008.431452   592.990726
failed           7.849582  71508.597270   550.642493
live            28.061224  16255.014577  1653.738746
successful      72.090516   3708.291763  4868.107303
suspended        3.375000    587.500000    33.875000

In [11]:
# generate gender by first name
# https://pypi.org/project/gender-guesser/

import gender_guesser.detector as gender
d = gender.Detector()
print(d.get_gender(u"Bob"))
print(d.get_gender(u"Sally"))
print(d.get_gender(u"Pauley"))

male
female
andy